<!-- CTA -->
<section class="pb-16 ~px-4/8">
	<div class="container bg-primary/15 m-auto ~p-6/10 rounded-3xl flex flex-col xl:flex-row items-end gap-12 ">
		<div class="w-full">
			<div class="px-6 py-1 bg-primary mb-2 rounded-full w-fit text-white font-bold">Novinky ze školy!</div>
			<h2 class="mb-4 text-primary ~text-5xl/6xl font-bold">
				Chcete vědět, co je nového?
			</h2>
			<p class="text-lg md:text-xl">Přihlaste se k odběru našich novinek a získejte pravidelné informace o dění ve škole, zajímavých projektech, nadcházejících akcích a inspirativních aktivitách. Buďte vždy v obraze a nenechte si ujít žádnou novinku, která obohatí vaše znalosti a zkušenosti.</p>
		</div>
		<div class="w-full">
			<img  
				class="hidden xl:block h-16 sm:~h-20/44 w-auto mb-5"
				decoding="async"
				loading="eager"
				src="/assets/images/Skola_Radost_logo.png"
				alt="Základní soukromá škola Letohrad Radost - logo"
				width="153"
				height="48"
			>

			<div class="mb-1 w-full flex flex-col sm:flex-row gap-4">
				<input type="text" class="min-h-12 flex-1 rounded-full border border-gray-300 px-3 py-2 focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary" placeholder="Zadejte svůj e-mail">

				<a href="/about" class="group relative w-fit inline-flex items-center px-8 py-2 rounded-full font-bold text-white bg-primary overflow-hidden transition-colors duration-300">
					<span class="pointer-events-none absolute -left-10 inset-0 -skew-x-[10deg] scale-x-0 origin-left bg-white transition-transform duration-500 ease-out group-hover:scale-x-[1.2]"></span>

					<div class="relative z-10 flex items-center">
						<span class="text-xl md:text-2xl transition-colors duration-300 group-hover:text-primary">
							Odebírat
						</span>
					</div>
				</a>
			</div>
			<a href="#">Odesláním souhlasíte se <span class="underline">zpracováním osobních údajů</span></a>
		</div>
	</div>
</section>