<!-- FAQ -->
<section class="relative py-24 ~px-4/8 bg-white dark:bg-zinc-950 z-10">
    <div class="container m-auto flex flex-col items-center gap-12">
        <div class="flex max-lg:flex-col justify-center items-start ~gap-12/24 w-full">
            <!-- TEXT + CTA -->
            <div class="flex flex-col items-start gap-4">
                <!-- TOPPER + HEADING -->
                <div class="flex flex-col gap-2">
                    <span class="font-proxima-nova text-primary dark:text-secondary font-bold leading-none">Často kladené otázky</span>
                    <h2 class="dark:text-white ~text-2xl/3xl font-bold">
                        Odpovědi na vaše dotazy
                    </h2>
                </div>

                <!-- CTA BUTTON -->
                <a class="block relative px-4 py-2 bg-primary text-sm text-white font-semibold rounded-lg z-10 overflow-hidden whitespace-nowrap
                    transition-colors duration-300 hover:text-white
                    before:absolute before:top-0 before:left-0 before:h-full before:w-full before:bg-tertiary before:-z-10
                    before:scale-x-0 before:origin-left before:transition-transform before:duration-300 hover:before:scale-x-100"
                    href="/kontakt">
                    Kontaktujte nás
                </a>
            </div>

            <!-- FAQ ITEMS -->
            <div class="flex flex-col gap-4 max-w-4xl">
                <!-- FAQ ITEM -->
                <details class="group bg-zinc-100 dark:bg-zinc-900 rounded-xl">
                    <summary class="flex items-center gap-16 w-full py-4 px-6 list-none [&::-webkit-details-marker]:hidden hover:cursor-pointer">
                        <span class="font-proxima-nova text-left text-lg dark:text-white font-bold transition-colors duration-300 group-open:text-primary">
                            Můžu se učit španělštinu i online, když nemám možnost docházet na prezenční kurzy?
                        </span>

                        <!-- ICON -->
                        <svg
                        class="flex-shrink-0 ml-auto fill-black dark:fill-white transition-[transform,_fill] duration-300 group-open:rotate-180 group-open:fill-primary"
                        xmlns="http://www.w3.org/2000/svg"
                        height="24"
                        viewBox="0 -960 960 960"
                        width="24"
                        fill="currentColor">
                            <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/>
                        </svg>
                    </summary>

                    <p class="p-0 font-proxima-nova text-zinc-800 dark:text-zinc-200 select-none group-open:pb-4 group-open:px-6 group-open:select-auto">
                        Žádný strach, Španělské slunce svítí i online – kdykoli a kdekoli vás to napadne!
                    </p>
                </details>

                <!-- FAQ ITEM -->
                <details class="group bg-zinc-100 dark:bg-zinc-900 rounded-xl">
                    <summary class="flex items-center gap-16 w-full py-4 px-6 list-none [&::-webkit-details-marker]:hidden hover:cursor-pointer">
                        <span class="font-proxima-nova text-left text-lg dark:text-white font-bold transition-colors duration-300 group-open:text-primary">
                            Jak mi Španělské slunce pomůže s prvními kroky, když jsem úplný začátečník?
                        </span>

                        <!-- ICON -->
                        <svg
                        class="flex-shrink-0 ml-auto fill-black dark:fill-white transition-[transform,_fill] duration-300 group-open:rotate-180 group-open:fill-primary"
                        xmlns="http://www.w3.org/2000/svg"
                        height="24"
                        viewBox="0 -960 960 960"
                        width="24"
                        fill="currentColor">
                            <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/>
                        </svg>
                    </summary>

                    <p class="p-0 font-proxima-nova text-zinc-800 dark:text-zinc-200 select-none group-open:pb-4 group-open:px-6 group-open:select-auto">
                        Začneme od ¡Hola a už brzy budete tančit flamenco slovíček v Andalusii!
                    </p>
                </details>

                <!-- FAQ ITEM -->
                <details class="group bg-zinc-100 dark:bg-zinc-900 rounded-xl">
                    <summary class="flex items-center gap-16 w-full py-4 px-6 list-none [&::-webkit-details-marker]:hidden hover:cursor-pointer">
                        <span class="font-proxima-nova text-left text-lg dark:text-white font-bold transition-colors duration-300 group-open:text-primary">
                            Můžu se španělštinu naučit efektivně i při vytíženém pracovním režimu?
                        </span>

                        <!-- ICON -->
                        <svg
                        class="flex-shrink-0 ml-auto fill-black dark:fill-white transition-[transform,_fill] duration-300 group-open:rotate-180 group-open:fill-primary"
                        xmlns="http://www.w3.org/2000/svg"
                        height="24"
                        viewBox="0 -960 960 960"
                        width="24"
                        fill="currentColor">
                            <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/>
                        </svg>
                    </summary>

                    <p class="p-0 font-proxima-nova text-zinc-800 dark:text-zinc-200 select-none group-open:pb-4 group-open:px-6 group-open:select-auto">
                        Jasně! Španělské slunce svítí i na ty nejvytíženější – ve vašem tempu a stylu.
                    </p>
                </details>

                <!-- FAQ ITEM -->
                <details class="group bg-zinc-100 dark:bg-zinc-900 rounded-xl">
                    <summary class="flex items-center gap-16 w-full py-4 px-6 list-none [&::-webkit-details-marker]:hidden hover:cursor-pointer">
                        <span class="font-proxima-nova text-left text-lg dark:text-white font-bold transition-colors duration-300 group-open:text-primary">
                            Když už mám základy španělštiny, jak mi výuka pomůže získat jistotu při komunikaci?
                        </span>

                        <!-- ICON -->
                        <svg
                        class="flex-shrink-0 ml-auto fill-black dark:fill-white transition-[transform,_fill] duration-300 group-open:rotate-180 group-open:fill-primary"
                        xmlns="http://www.w3.org/2000/svg"
                        height="24"
                        viewBox="0 -960 960 960"
                        width="24"
                        fill="currentColor">
                            <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/>
                        </svg>
                    </summary>

                    <p class="p-0 font-proxima-nova text-zinc-800 dark:text-zinc-200 select-none group-open:pb-4 group-open:px-6 group-open:select-auto">
                        Jednoduše – procvičíme to, co už znáte, a naučím vás mluvit tak přirozeně, že si objednáte tapas jako místní.
                    </p>
                </details>

                <!-- FAQ ITEM -->
                <details class="group bg-zinc-100 dark:bg-zinc-900 rounded-xl">
                    <summary class="flex items-center gap-16 w-full py-4 px-6 list-none [&::-webkit-details-marker]:hidden hover:cursor-pointer">
                        <span class="font-proxima-nova text-left text-lg dark:text-white font-bold transition-colors duration-300 group-open:text-primary">
                            Je Španělské slunce vhodné i pro pokročilé studenty, kteří chtějí proniknout hlouběji do literatury a dějin?
                        </span>

                        <!-- ICON -->
                        <svg
                        class="flex-shrink-0 ml-auto fill-black dark:fill-white transition-[transform,_fill] duration-300 group-open:rotate-180 group-open:fill-primary"
                        xmlns="http://www.w3.org/2000/svg"
                        height="24"
                        viewBox="0 -960 960 960"
                        width="24"
                        fill="currentColor">
                            <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/>
                        </svg>
                    </summary>

                    <p class="p-0 font-proxima-nova text-zinc-800 dark:text-zinc-200 select-none group-open:pb-4 group-open:px-6 group-open:select-auto">
                        Rozhodně! S námi poznáte Španělsko od Cervantese až po Gaudího. Španělsko není jen jazyk, je to atmosféra, zážitek, životní styl“
                    </p>
                </details>
            </div>
        </div>

        {# Show the gallery showcase only on interior pages #}
        {% if page.url != "/" %}
            <!-- GALLERY -->
            <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 ~gap-4/8 w-full">
                {% for i in range(0, 4) %}
                    {% set imagePath = '/assets/images/gallery/gallery_' + loop.index + '.jpg' %}
                    <picture>
                        <source media="(max-width: 600px)" srcset="{% getUrl imagePath | resize({ width: 720, height: 640 }) | webp({ quality: 70 }) %}" type="image/webp">
                        <source media="(min-width: 601px)" srcset="{% getUrl imagePath | resize({ width: 720, height: 640 }) | webp({ quality: 70 }) %}" type="image/webp">
                        <img
                  class="h-80 w-full object-cover rounded-xl"
                  src="{% getUrl imagePath | resize({ width: 720, height: 640 }) | jpeg({ quality: 70 }) %}"
                  alt="Fotografie z galerie {{ loop.index }}"
                  decoding="async"
                  loading="eager"
                  width="360"
                  height="320"
                  draggable="false"/>
                    </picture>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</section>