<!-- LANDING -->
<section class="relative pt-56 pb-12 ~px-4/8 overflow-hidden">
  <div class="container m-auto flex flex-col items-start gap-6">
    <div class="flex flex-col gap-1">
      <div class="flex items-center gap-2">
        <img
          class="mb-0.5"
          src="/assets/svgs/hero/logo_icon.svg"
          alt="Tmavé pozadí"
          decoding="async"
          loading="eager"
          width="20"
          height="20"
          draggable="false"/>
        <span class="font-proxima-nova text-secondary text-lg font-bold leading-none">Španělské Slunce</span>
      </div>
      <span title="{{ title }}" class="text-white text-4xl font-bold line-clamp-1 leading-none">
        {{ title }}
      </span>
    </div>
    <div class="flex items-center gap-4 *:font-work-sans *:text-sm">
      <a class="text-zinc-200 hover:text-white" href="/">Domů</a>
      {# Check if a blog post is open (if url is /blog/something) #}
      {%- if page.url.match('^/blog/.+') -%}
        <div class="h-0.5 w-4 mt-0.5 bg-primary"></div>
        <a class="text-zinc-200 hover:text-white" href="/blog">Blog</a>
      {%- endif -%}
      <div class="h-0.5 w-4 mt-0.5 bg-primary"></div>
      <a class="text-white line-clamp-1" href="#">{{ title }}</a>
    </div>
  </div>

  <!-- BACKGROUND -->
  <picture class="before:absolute before:top-0 before:left-0 before:h-full before:w-full before:-z-10 before:bg-black/60">
    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hero/hero_background_image.jpg" | resize({ width: 1920, height: 388 }) | webp({ quality: 70 }) %}" type="image/webp">
    <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/hero/hero_background_image.jpg" | resize({ width: 1920, height: 388 }) | webp({ quality: 70 }) %}" type="image/webp">
    <img
      class="absolute inset-0 h-full w-full object-cover -z-20 scale-110 blur-lg"
      src="{% getUrl "/assets/images/hero/hero_background_image.jpg" | resize({ width: 1920, height: 388 }) | jpeg({ quality: 70 }) %}"
      alt="Tmavé pozadí"
      decoding="async"
      loading="eager"
      width="1920"
      height="388"
      draggable="false"/>
  </picture>
</section>