<!-- LANDING -->
<section class="relative pt-64 pb-12 ~px-4/8 overflow-hidden">
  <div class="pb-32 container relative m-auto flex flex-col items-center justify-center gap-6 z-[2] h-full">
    <p title="{{ title }}" class="text-white text-4xl md:text-6xl font-bold leading-tight text-center break-words">
      {{ title }}
    </p>
  </div>
  
  <!-- BACKGROUND -->
  <picture class="before:absolute before:top-0 before:left-0 before:h-full before:w-full before:z-[1] before:bg-black/50">
    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hero/hero_background_image.jpg" | resize({ width: 1920, height: 800 }) | webp({ quality: 70 }) %}" type="image/webp">
    <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/hero/hero_background_image.jpg" | resize({ width: 1920, height: 800 }) | webp({ quality: 70 }) %}" type="image/webp">
    <img
      class="absolute inset-0 h-full w-full object-cover z-0"
      src="{% getUrl "/assets/images/hero/hero_background_image.jpg" | resize({ width: 1920, height: 800 }) | jpeg({ quality: 70 }) %}"
      alt="Děti ZŠ Radost se učí a hrají v moderní třídě"
      decoding="async"
      loading="eager"
      width="1920"
      height="800"
      draggable="false"
    />
  </picture>

  <div class="absolute inset-0 linear-gradient z-0 opacity-80"></div>
</section>