<!-- PARTNERS -->
<section class="mb-16 relative overflow-hidden bg-primary/15 ~px-4/8">
  <div class="container m-auto px-0 md:px-6 py-10 lg:px-10 rounded-3xl grid grid-cols-1 lg:grid-cols-2 items-center justify-center gap-12 z-[5]">
    <div>
      <h2 class="~text-3xl/5xl font-bold text-primary selection:bg-green/60 text-left md:text-center lg:text-left">
        ZŠ Radost by nemohla fungovat bez podpory našich partnerů.
      </h2><br>
      <h2 class="~text-3xl/5xl font-bold text-primary selection:bg-green/60 text-left md:text-center lg:text-left">Moc děkujeme, že jste v tom s námi.</h2>
    </div>

    <!-- IMAGE -->
    <picture class="md:mx-auto w-fit">
      <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/partners/partner-1.svg" | resize({ width: 280, height: 57 }) | webp({ quality: 70 }) %}" type="image/webp">
      <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/partners/partner-1.svg" | resize({ width: 404, height: 82 }) | webp({ quality: 70 }) %}" type="image/webp">
      <img
        class="max-w-[80%] sm:max-w-3xl rounded-xl object-contain"
        src="{% getUrl "/assets/images/partners/partner-1.svg" | resize({ width: 404, height: 82 }) | jpeg({ quality: 70 }) %}"
        alt="Fotka lektorky Ludmily Vyčítalové"
        decoding="async"
        loading="lazy"
        width="404"
        height="82"
        draggable="false"
      />
    </picture>
  </div>
</section>