<!-- A fully fleshed-out <head>, dynamically changing based on client.json and the page front matter -->

<!DOCTYPE html>
<html lang="cs" class="scroll-smooth">

  <head>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer'
            ? '&l=' + l
            : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f
          .parentNode
          .insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-TQCXCLJ7');
    </script>
    <!-- End Google Tag Manager -->

    <!-- Standard meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="">
    <meta name="generator" content="{{ eleventy.generator }}">
    <link rel="canonical" href="{{ client.domain }}{{ page.url }}">

    <!--Social Media Display-->
    <meta property="og:title" content="{{ title }} | {{ client.name }}"/>
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ client.domain }}{{ page.url }}"/>
    <meta property="og:image" content="/assets/images/Skola_Radost_logo.webp"/>
    <meta property="og:image:secure_url" content="/assets/images/Skola_Radost_logo.webp"/>
    <meta property="og:locale" content="cs_CZ">

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/svg+xml" href="/assets/favicons/favicon.svg"/>
    <link rel="shortcut icon" href="/assets/favicons/favicon.ico"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png"/>
    <meta name="apple-mobile-web-app-title" content="Španělské Slunce"/>
    <link rel="manifest" href="/assets/favicons/site.webmanifest"/>

    <!-- Preloads -->
    <link rel="preload" as="image" href="/assets/images/Skola_Radost_logo.webp">
    <link rel="preload" as="image" href="/assets/images/Skola_Radost_logo.webp">
    <!-- Arsenal local fonts (preload ttf because only ttf files are present) -->
    <link rel="preload" as="font" type="font/ttf" href="/assets/fonts/Arsenal-Regular.ttf" crossorigin>
    <link rel="preload" as="font" type="font/ttf" href="/assets/fonts/Arsenal-Italic.ttf" crossorigin>
    <link rel="preload" as="font" type="font/ttf" href="/assets/fonts/Arsenal-Bold.ttf" crossorigin>
    <link rel="preload" as="font" type="font/ttf" href="/assets/fonts/Arsenal-BoldItalic.ttf" crossorigin>

    <!-- Preload an image - tag not rendered if preloadImg is blank to stop console errors -->
    {% if preloadImg %}
      <link rel="preload" as="image" href="{{ preloadImg }}"/>
    {% endif %}

    <!-- Sitewide Stylesheets and Scripts -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <script defer src="/assets/js/nav.js"></script>

    <!-- Proxima Nova font -->
    <link rel="stylesheet" href="https://use.typekit.net/urm1fnp.css">

    {% block head %}{% endblock %}

    <title>{{ title }} | {{ client.name }}</title>

    <!-- Plausible Analytics -->
    <script defer data-domain="spanelskeslunce.cz" src="https://analytics.senoweb.cz/js/script.outbound-links.js"></script>
  </head>

  <body class="bg-pattern group/body{% if page.url == '/' %} home{% else %} interior{% endif %} selection:bg-primary selection:text-white">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQCXCLJ7" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Screen reader skip main nav -->
    <a class="sr-only" aria-label="kliknutím přeskočíte na hlavní obsah" href="#main">Kliknutím přeskočíte na hlavní obsah</a>

    {% include "components/header.njk" %}
    <main id="main">
      {% block body %}{% endblock %}
    </main>
    {% include "components/footer.njk" %}

    <script>
      (function() {
        if (window.location.hash) {
          try {
            var id = window.location.hash.substring(1);
            window.scrollTo(0, 0);
            document.addEventListener('DOMContentLoaded', function() {
              var el = document.getElementById(id);
              if (el) {
                setTimeout(function() {
                  var offset = window.innerHeight * 0.2;

                  var top = el.getBoundingClientRect().top + window.pageYOffset;

                  window.scrollTo({
                    top: top - offset,
                    behavior: 'smooth'
                  });
                }, 50);
              }
            });
          } catch (e) {}
        }
      })();
    </script>

    {% block javascript %}{% endblock %}
  </body>
</html>