---
title: 'Fotogalerie'
description: ''
permalink: 'fotogalerie/'
eleventyNavigation:
  key: Fotogalerie
  order: 400
---

{% extends "layouts/base.njk" %}

{% block head %}
  <script defer src="/assets/js/fslightbox.js"></script>
{% endblock %}

{% block body %}
  {% include "components/landing.njk" %}

  <section class="py-16 ~px-4/8">
    <div class="container m-auto bg-blue/15 ~p-6/10 rounded-3xl">
      <div class="px-6 py-1 bg-blue mb-2 rounded-full w-fit text-white font-bold">Jak to u nás jde?</div>
      <h2 class="mb-8 text-blue ~text-5xl/6xl font-bold">Fotogalerie školy</h2>


      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        {% for album in collections.gallery | reverse %}
          {% if album.data.images | length > 0 %}
            {% set coverImage = (album.data.cover or (album.data.images[0] and album.data.images[0].url) ) %}

            <article class="bg-white rounded-2xl shadow-md overflow-hidden">
              <a href="{{ album.url }}" class="block">
                <div class="w-full h-56 overflow-hidden">
                  {% if coverImage %}
                    <picture>
                      <source srcset="{% getUrl coverImage | resize({ width: 960, height: 560 }) | webp({ quality: 70 }) %}" type="image/webp">
                      <img class="w-full h-full object-cover" src="{% getUrl coverImage | resize({ width: 960, height: 560 }) | jpeg({ quality: 70 }) %}" alt="{{ album.data.title }}" loading="lazy" decoding="async" draggable="false"/>
                    </picture>
                  {% else %}
                    <div class="w-full h-full bg-zinc-100"></div>
                  {% endif %}
                </div>

                <div class="p-6">
                  <h3 class="text-xl font-bold text-zinc-900 mb-2">{{ album.data.title }}</h3>
                  <p class="text-zinc-700 mb-2 line-clamp-3">{{ album.data.description or '' }}</p>

                  <div class="mt-2 group relative w-fit hidden lg:inline-flex items-center px-4 py-2 rounded-full font-bold text-white bg-primary overflow-hidden transition-colors duration-300">
                    <span class="pointer-events-none absolute -left-10 inset-0 -skew-x-[10deg] scale-x-0 origin-left bg-green transition-transform duration-500 ease-out group-hover:scale-x-[1.2]"></span>

                    <div class="relative z-10 flex items-center">
                      <span class="transition-colors duration-300 group-hover:text-white">Více obrázků</span>
                    </div>
                  </div>
                </div>
              </a>
            </article>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>

  {% include "components/cta.njk" %}
  {% include "components/partners.njk" %}
{% endblock body %}