---
title: 'GDPR'
description: 'Zásady ochrany osobních údajů'
permalink: 'gdpr/'
---

{% extends "layouts/base.njk" %}

{% block body %}
  {% include "components/landing.njk" %}

  <!-- CONTACT -->
  <section class="px-4 sm:px-8 py-32 bg-zinc-100 dark:bg-zinc-900">
    <div class="container m-auto">
      <!-- TOPPER + HEADING -->
      <div class="flex flex-col gap-1 mb-4">
        <span class="font-proxima-nova text-primary dark:text-secondary font-bold leading-none">GDPR</span>
        <h2 class="dark:text-white ~text-2xl/3xl font-bold">
          Zásady ochrany osobních údajů
        </h2>
      </div>
      <p class="font-proxima-nova text-zinc-800 dark:text-zinc-200 max-w-4xl mb-8">
        S Vašimi údaji je nakládáno v souladu se zákonem 101/2000 Sb. o ochraně osobních údajů, a dále také dle rozšiřujícího a sjednocujícího nařízení
        GDPR v podobě směrnice (EU) 2016/679, která původní zákon 101/2000 Sb. a směrnici 95/46/ES nahrazuje.
      </p>
      <h3 class="dark:text-white text-2xl font-bold mb-4">
        Správce osobních údajů
      </h3>
      <p class="font-proxima-nova text-zinc-800 dark:text-zinc-200 max-w-4xl mb-8">
        Správcem osobních údajů je Ludmila Vyčítalová, se sídlem č.p. 55, 56101 Hnátnice,
        IČO 74982923 a jako správce zpracováváme tyto vaše osobní údaje - jméno, příjmení, email a telefonní číslo.
      </p>
      <h3 class="dark:text-white text-2xl font-bold mb-4">
        Účel sběru osobních údajů
      </h3>
      <p class="font-proxima-nova text-zinc-800 dark:text-zinc-200 max-w-4xl mb-8">
        Osobní údaje je nutné zpracovat za účelem vyřízení vašeho dotazu nebo poptávky. Tyto údaje jsou správcem zpracovány po dobu
        pravděpodobného trvání vašeho zájmu (maximálně 5 let) nebo po dobu trvání spolupráce.
      </p>
      <h3 class="dark:text-white text-2xl font-bold mb-4">
        Vaše práva
      </h3>
      <p class="font-proxima-nova text-zinc-800 dark:text-zinc-200 max-w-4xl mb-2">
        Vezměte prosím na vědomí, že podle nařízení (EU) 2016/679 (zvané GDPR) a zákona o ochraně osobních údajů máte právo:
      </p>
      <ul class="list-disc max-w-2xl space-y-1 ml-8">
        <li class="font-proxima-nova text-zinc-800 dark:text-zinc-200">vzít souhlas kdykoliv zpět</li>
        <li class="font-proxima-nova text-zinc-800 dark:text-zinc-200">požadovat po nás informaci, jaké vaše osobní údaje zpracováváme</li>
        <li class="font-proxima-nova text-zinc-800 dark:text-zinc-200">požadovat po nás vysvětlení ohledně zpracování osobních údajů</li>
        <li class="font-proxima-nova text-zinc-800 dark:text-zinc-200">vyžádat si u nás přístup k těmto údajům a tyto nechat aktualizovat nebo opravit</li>
        <li class="font-proxima-nova text-zinc-800 dark:text-zinc-200">
            v případě pochybností o dodržování povinností souvisejících se zpracováním 
            osobních údajů obrátit se na nás nebo na Úřad pro ochranu osobních údajů
        </li>
      </ul>
    </div>
  </section>

{% endblock body %}