---
title: 'Další inspirace'
description: "Inspirace a pracovní materiály pro učitele a rodiče: pracovní listy, nápady a pomůcky pro výuku i volnočasové aktivity, které podporují zvídavost, kreativitu a praktické dovednosti dětí."
permalink: 'inspirace/'
eleventyNavigation:
  key: Inspirace
  order: 300
---

{% extends "layouts/base.njk" %}

{% block body %}
  {% include "components/landing.njk" %}

  <section class="py-16 ~px-4/8">
    <div class="container bg-purple/15 m-auto ~p-4/10 rounded-3xl">
      <div class="px-6 py-1 bg-purple mb-2 rounded-full w-fit text-white font-bold">Tipy & inspirace</div>
      <h1 class="mb-8 text-purple ~text-4xl/6xl font-bold">Další inspirace</h1>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% if inspirations and inspirations.items %}
          {% for item in inspirations.items %}
            <article class="bg-white rounded-xl p-6 shadow-sm flex flex-col h-full">
              <h3 class="text-xl font-bold text-purple mb-2">{{ item.title }}</h3>
              <p class="text-zinc-800 mb-4 grow">{{ item.description }}</p>
              <a href="{{ item.url }}" target="_blank" class="inline-flex w-fit items-center gap-3 px-4 py-2 rounded-full bg-purple hover:bg-purple/80 text-white font-bold transition-all duration-200">
                {{ item.buttonText or 'Zobrazit' }}
              </a>
            </article>
          {% endfor %}
        {% else %}
          <p>Žádné inspirační dokumenty.</p>
        {% endif %}
      </div>
    </div>
  </section>

  {% include "components/cta.njk" %}
  {% include "components/partners.njk" %}

{% endblock %}
