---
title: 'Kontakt'
description: 'Máte dotaz? Chcete se přihlásit na kurz? Napište nám nebo zavolejte a rádi vám pomůžeme! Jsme tu pro vás.'
permalink: 'kontakt/'
eleventyNavigation:
  key: Kontakt
  order: 600
---

{% extends "layouts/base.njk" %}

{% block body %}
  {% include "components/landing.njk" %}

  <!-- CONTACT -->
  <section class="py-24 ~px-4/8 bg-zinc-100 dark:bg-zinc-900">
    <div class="container m-auto flex max-lg:flex-col items-center ~gap-12/24">
      <!-- TEXT + CONTACT FORM -->
      <div class="flex flex-col gap-6 w-full max-w-md">
        <!-- TOPPER + HEADING -->
        <div class="flex flex-col gap-1">
          <span class="font-proxima-nova text-primary dark:text-secondary font-bold leading-none">Napište mi</span>
          <h1 class="dark:text-white ~text-2xl/3xl font-bold">
            Kontaktujte mě
          </h1>
        </div>

        <!-- CONTACT FORM -->
        <form class="flex flex-col gap-6 p-8 bg-white dark:bg-zinc-950 rounded-xl" method="POST" name="Kontaktní formulář" action="/kontakt/success" netlify>
          <div class="flex flex-col gap-4">
            <div class="flex flex-col gap-2">
              <label class="font-proxima-nova dark:text-white font-bold" for="name">Jméno a příjmení</label>
              <input
                class="bg-zinc-100 dark:bg-zinc-500 border-zinc-200 dark:border-zinc-400 font-proxima-nova text-black dark:text-white rounded-lg
                  focus:border-primary focus:ring-2 focus:ring-primary/50 placeholder:text-zinc-500 dark:placeholder:text-zinc-300"
                  id="name"
                  type="text"
                  name="name"
                  autocomplete="name"
                  placeholder="Petr Novák"
                  required>
            </div>

            <div class="flex flex-col gap-2">
              <label class="font-proxima-nova dark:text-white font-bold" for="email">Email</label>
              <input
                class="bg-zinc-100 dark:bg-zinc-500 border-zinc-200 dark:border-zinc-400 font-proxima-nova text-black dark:text-white rounded-lg
                  focus:border-primary focus:ring-2 focus:ring-primary/50 placeholder:text-zinc-500 dark:placeholder:text-zinc-300"
                  id="email"
                  type="email"
                  name="email"
                  autocomplete="email"
                  placeholder="petr.novak@seznam.cz"
                  required>
            </div>

            <div class="flex flex-col gap-2">
              <label class="font-proxima-nova dark:text-white font-bold" for="phone">Telefon</label>
              <input
                class="bg-zinc-100 dark:bg-zinc-500 border-zinc-200 dark:border-zinc-400 font-proxima-nova text-black dark:text-white rounded-lg
                  focus:border-primary focus:ring-2 focus:ring-primary/50 placeholder:text-zinc-500 dark:placeholder:text-zinc-300"
                  id="phone"
                  type="tel"
                  name="phone"
                  autocomplete="tel"
                  placeholder="{{ client.phoneFormatted }}"
                  required>
            </div>
            <div class="flex flex-col gap-2">
              <label class="font-proxima-nova dark:text-white font-bold" for="message">Vaše zpráva</label>
              <textarea 
                class="min-h-[4lh] max-h-[30lh] bg-zinc-50 dark:bg-zinc-500 border-zinc-200 dark:border-zinc-400 font-proxima-nova text-black dark:text-white
                  rounded-lg focus:border-primary focus:ring-2 focus:ring-primary/50 dark:placeholder:text-zinc-300"
                id="message"
                name="message"
                rows="5"
                required></textarea>
            </div>
          </div>

          <div class="flex flex-col gap-4">
            <!-- SEND BUTTON -->
            <button class="relative px-4 py-2 bg-primary text-white font-semibold rounded-lg z-10 overflow-hidden whitespace-nowrap
              before:absolute before:top-0 before:left-0 before:h-full before:w-full before:bg-tertiary before:-z-10
              before:scale-x-0 before:origin-left before:transition-transform before:duration-300 hover:before:scale-x-100" type="submit">
                Odeslat
            </button>

            <!-- PRIVACY POLICY -->
            <p class="font-proxima-nova text-sm text-zinc-800 dark:text-zinc-200 text-center">Odesláním souhlasíte se
              <a class="underline hover:text-black dark:hover:text-white" href="/gdpr">zpracováním osobních údajů</a>
            </p>
          </div>
        </form>
      </div>

      <!-- CONTACT INFO -->
      <div class="flex gap-8 p-8 bg-white dark:bg-zinc-950 rounded-xl">
        <ul class="flex-shrink-0 flex flex-col gap-4">
          <!-- NAME -->
          <li class="flex items-center gap-4 p-4 pr-8 bg-zinc-100 dark:bg-zinc-900 rounded-xl">
            <!-- ICON -->
            <img
            src="/assets/svgs/contact/SPSL_icon-sun.svg"
            alt="Ikona minikurzu"
            decoding="async"
            loading="lazy"
            width="64"
            height="64"
            draggable="false"/>

            <div class="flex flex-col gap-0.5">
              <h3 class="dark:text-white font-bold">Mgr. Ludmila Vyčítalová</h3>
              <p class="font-proxima-nova text-zinc-800 dark:text-zinc-200">
              Vaše lektorka španělštiny
            </p>
            </div>
          </li>

          <!-- TELEFON -->
          <li class="flex items-center gap-4 p-4 pr-8 bg-zinc-100 dark:bg-zinc-900 rounded-xl">
            <!-- ICON -->
            <img
            src="/assets/svgs/contact/SPSL_icon-telephone.svg"
            alt="Ikona minikurzu"
            decoding="async"
            loading="lazy"
            width="64"
            height="64"
            draggable="false"/>

            <div class="flex flex-col gap-0.5">
              <h3 class="dark:text-white font-bold">Telefon</h3>
              <a href="tel:{{ client.phoneForTel }}" class="font-proxima-nova text-zinc-800 dark:text-zinc-200 hover:underline hover:text-black dark:hover:text-white">
                {{ client.phoneFormatted }}
              </a>
            </div>
          </li>

          <!-- EMAIL -->
          <li class="flex items-center gap-4 p-4 pr-8 bg-zinc-100 dark:bg-zinc-900 rounded-xl">
            <!-- ICON -->
            <img
            src="/assets/svgs/contact/SPSL_icon-mail.svg"
            alt="Ikona minikurzu"
            decoding="async"
            loading="lazy"
            width="64"
            height="64"
            draggable="false"/>

            <div class="flex flex-col gap-0.5">
              <h3 class="dark:text-white font-bold">Email</h3>
              <a href="mailto:{{ client.email }}" class="font-proxima-nova text-zinc-800 dark:text-zinc-200 hover:underline hover:text-black dark:hover:text-white">
                {{ client.email }}
              </a>
            </div>
          </li>

          <!-- LOKACE -->
          <li class="flex items-center gap-4 p-4 pr-8 bg-zinc-100 dark:bg-zinc-900 rounded-xl">
            <!-- ICON -->
            <img
            src="/assets/svgs/contact/SPSL_icon-location.svg"
            alt="Ikona minikurzu"
            decoding="async"
            loading="lazy"
            width="64"
            height="64"
            draggable="false"/>

            <div class="flex flex-col gap-0.5 *:whitespace-nowrap">
              <h3 class="dark:text-white font-bold">Lokace</h3>
              <p class="font-proxima-nova text-zinc-800 dark:text-zinc-200">
                Okres Ústí nad Orlicí, Pardubický kraj
              </p>
            </div>
          </li>

          <!-- FACEBOOK -->
          <li class="flex items-center gap-4 p-4 pr-8 bg-zinc-100 dark:bg-zinc-900 rounded-xl">
            <!-- ICON -->
            <img
              src="/assets/svgs/contact/SPSL_icon-facebook.svg"
              alt="Ikona facebooku"
              decoding="async"
              loading="lazy"
              width="64"
              height="64"
              draggable="false"/>

            <div class="flex flex-col gap-0.5 *:whitespace-nowrap">
              <h3 class="dark:text-white font-bold">Facebook</h3>
              <a
                href="{{client.social.facebook}}"
                target="_blank"
                class="font-proxima-nova text-zinc-800 dark:text-zinc-200 hover:underline hover:text-black dark:hover:text-white"
              >
                Španělské slunce
              </a>
            </div>
          </li>
        </ul>

        <picture class="hidden 2xl:block">
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/contact/contact-info.jpg'  | avif %}" type="image/avif">
          <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/contact/contact-info.jpg'  | webp %}" type="image/webp">
          <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/contact/contact-info.jpg'  | jpeg %}" type="image/jpeg">
          <!--Desktop Image-->
          <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/contact/contact-info.jpg' | resize({ width: 1268, height: 1088 }) | avif %}" type="image/avif">
          <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/contact/contact-info.jpg' | resize({ width: 1268, height: 1088 }) | webp %}" type="image/webp">
          <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/contact/contact-info.jpg' | resize({ width: 1268, height: 1088 }) | jpeg %}" type="image/jpeg">
          <img
            class="h-full object-cover rounded-3xl"
            src="{% getUrl '/assets/images/contact/contact-info.jpg' | resize({ width: 1268, height: 1088 }) | jpeg %}"
            alt="Obrázek španělské budovy"
            width="634"
            height="544"
            loading="eager"
            decoding="async"
            aria-hidden="true"
            draggable="false">
        </picture>
      </div>
    </div>
  </section>

{% endblock body %}