---
title: "Nová budova"
description: "Prohlédněte si novou budovu Základní školy RADOST. Moderní a přátelské prostředí podporuje sebeřízené vzdělávání a radost z učení pro děti všech věkových kategorií."
permalink: "nova-budova/"
eleventyNavigation:
  key: Nová budova
  order: 400
---

{% extends "layouts/base.njk" %} {% block head %}
<script defer src="/assets/js/fslightbox.js"></script>
{% endblock %} {% block body %} {% include "components/landing.njk" %}

<section class="py-16 ~px-4/8">
  <div class="container m-auto bg-blue/15 ~p-4/10 rounded-3xl">
    <div class="px-6 py-1 bg-blue mb-2 rounded-full w-fit text-white font-bold">
      Nový prostor
    </div>
    <h2 class="mb-8 text-blue ~text-4xl/6xl font-bold">Nová budova školy</h2>

    <div>
      <a
        data-fslightbox="{{ page.fileSlug }}"
        href="{% getUrl "/assets/images/new-building/photo-3.webp" | rotate | resize({ height: 1944 }) | webp({ quality: 70 }) %}"
      >
        <picture>
          <source
            srcset="{% getUrl "/assets/images/new-building/photo-3.webp" | rotate | resize({ width: 1200 }) | webp({ quality: 70 }) %}"
            type="image/webp"
          />
          <img
            class="hover:scale-[1.02] mb-4 md:mb-6 w-full mx-auto max-h-full max-w-full h-auto block object-cover transition-transform duration-200 rounded-xl"
            src="{% getUrl "/assets/images/new-building/photo-3.webp" | rotate | resize({ width: 1200 }) | jpeg({ quality: 70 }) %}"
            alt="Fotografie nové budovy školy zs Radost"
            loading="lazy"
            decoding="async"
            draggable="false"
          />
        </picture>
      </a>
    </div>

    <div class="flex flex-wrap gap-4 md:gap-6 justify-center">
      {% set urls = [ { url: "/assets/images/new-building/photo-1.webp" }, {
      url: "/assets/images/new-building/photo-2.webp" }, { url:
      "/assets/images/new-building/photo-4.webp" }, { url:
      "/assets/images/new-building/photo-5.webp" }, { url:
      "/assets/images/new-building/photo-6.webp" }, { url:
      "/assets/images/new-building/photo-7.webp" } ] %} {% for url in urls %}
      <a
        data-fslightbox="{{ page.fileSlug }}"
        href="{% getUrl url.url | rotate | resize({ height: 1944 }) | webp({ quality: 70 }) %}"
      >
        <picture>
          <source
            srcset="{% getUrl url.url | rotate | resize({ width: 1200 }) | webp({ quality: 70 }) %}"
            type="image/webp"
          />
          <img
            class="hover:scale-[1.02] md:basis-1/4 sm:h-72 sm:w-72 w-full max-h-full max-w-full h-auto block object-cover transition-transform duration-200 rounded-xl"
            src="{% getUrl url.url | rotate | resize({ width: 1200 }) | jpeg({ quality: 70 }) %}"
            alt="Fotografie nové budovy školy zs Radost"
            loading="lazy"
            decoding="async"
            draggable="false"
          />
        </picture>
      </a>
      {% endfor %}
    </div>
  </div>
</section>

{% include "components/cta.njk" %} {% include "components/partners.njk" %} {%
endblock body %}
