---
title: 'O mně'
description: 'Jsem certifikovaná lektorka španělštiny s více než 10letou praxí. Nabízím individuální přístup, online i pobytové kurzy a garantuji, že se španělštinu naučíte přirozeně a s radostí. Poznejte mou cestu ke španělštině.'
permalink: 'o-mne/'
eleventyNavigation:
  key: O mně
  order: 200
---

{% extends "layouts/base.njk" %}

{% block body %}
  {% include "components/landing.njk" %}

  <section class="py-24 ~px-4/8 bg-zinc-100 dark:bg-zinc-900">
    <div class="container m-auto flex max-xl:flex-col justify-center items-center xl:items-start ~gap-12/24">
      <!-- TEXT -->
      <div class="flex flex-col items-start gap-6">
        <!-- HEADING + TEXT -->
        <div class="flex flex-col gap-4 max-w-2xl">
          <!-- TOPPER + HEADING -->
          <div class="flex flex-col gap-1">
            <span class="font-proxima-nova text-primary dark:text-secondary font-bold leading-none">Ludmila Vyčítalová</span>
            <h1 class="dark:text-white ~text-2xl/3xl font-bold">
              Výuka s Lídou - mluvíme, zažíváme, milujeme – španělsky.
            </h1>
          </div>
          <p class="font-proxima-nova text-zinc-800 dark:text-zinc-200">
            ŠPANĚLSKO: země, kde jsem absolvovala závěr základního vzdělání i celou střední školu, kde jsem dospívala, poprvé si koupila cédéčko,
            svůj první mobil, zažila první lásky, koupila si první auto a později i první vlastní byt, hledala to pravé zaměstnání v různých sektorech.
            Mám zde mnoho přátel, oblíbených míst a na tisíce vzpomínek všeho druhu – jak už to v životě bývá.
          </p>
          <p class="font-proxima-nova text-zinc-800 dark:text-zinc-200">
            Španělsko je navždy tak trochu mým domovem.
          </p>
        </div>

        <div class="flex flex-col gap-2 max-w-2xl">
          <h3 class="dark:text-white text-lg font-bold">Co dělám?</h3>
          <p class="font-proxima-nova text-zinc-800 dark:text-zinc-200">
            Spoustu let učím lidi různých věkových kategorií španělskému jazyku. Ve škole, v soukromé učebně, na cestách, v online prostředí.
            Tlumočím (nejraději simultánně) a překládám z i do španělského jazyka.
          </p>
        </div>

        <div class="flex flex-col gap-2 max-w-2xl">
          <h3 class="dark:text-white text-lg font-bold">Proč to dělám?</h3>
          <div class="flex flex-col gap-4">
            <p class="font-proxima-nova text-zinc-800 dark:text-zinc-200">
              Protože jsem ve Španělsku žila od svých 13 do svých 25 let a tudíž jsem se v mnoha směrech formovala právě pod záštitou španělské mentality,
              hodnot, zvyků a samozřejmě – španělského jazyka. A toužím to předávat dál, dělit se o to poznání a vhled.
            </p>
            <p class="font-proxima-nova text-zinc-800 dark:text-zinc-200">
              Nejsem a už asi nikdy nebudu stoprocentní Češka, ač svou rodnou vlast miluji (a vrátila jsem se do ní z rodinných důvodů).
              Nicméně i po návratu do rodné země španělština zůstala středobodem mého zájmu a úsilí, což vyústilo ve studium filologie a
              později i učitelství španělského jazyka pro střední školy na Filozofické fakultě Masarykovy univerzity. 
            </p>
            <p class="font-proxima-nova text-zinc-800 dark:text-zinc-200">
              Taktéž zaměstnání od mého návratu nikdy „neleželo“ od španělštiny daleko – nejdříve jsem pracovala v pobočce španělské společnosti,
              kde jsem svou španělštinu využívala pro tlumočení, překládání a coby komunikační most mezi mateřskou a dceřinou společností,
              a následně jsem ji začala vyučovat – soukromě a na gymnáziu.
            </p>
            <p class="font-proxima-nova text-zinc-800 dark:text-zinc-200">
              A jelikož znám Španělsko opravdu dobře na mnoha různých úrovních, v současnosti pro  své klienty zajišťuji opravdu pestrý servis:
              od překladů, tlumočení a výuky španělštiny, zprostředkovávání znalostí reálií, dějin a literatury až po zajištění krásné aktivní dovolené
              (pokaždé jinde a jinak laděné).
            </p>
          </div>
        </div>

        <div class="flex flex-col gap-2 max-w-2xl">
          <h3 class="dark:text-white text-lg font-bold">Dovedu:</h3>
          <ul class="flex flex-col gap-1 list-disc">
            <li class="ml-5 font-proxima-nova text-zinc-800 dark:text-zinc-200">
              své klienty vyučovat skrze některý z možných kanálů – prezenčně celoročně, online celoročně, na pobytových kurzech, skrze předtočený videokurz…
              (nebo jejich kombinaci) a zohlednit u toho specifické potřeby (dys-poruchy, různá tempa práce, dominantní typy inteligence)
            </li>
            <li class="ml-5 font-proxima-nova text-zinc-800 dark:text-zinc-200">
              svým klientům sytit i potřebu poznání a rozšiřování znalostí týkajících se španělské a hispánské kultury, literatury a dějin
            </li>
            <li class="ml-5 font-proxima-nova text-zinc-800 dark:text-zinc-200">
              své klienty vzít s sebou na báječný jazykový kurz v některé z lákavých španělských destinací a vše výše zmíněné uvést do praxe a zcela autenticky prožít
            </li>
          </ul>
          <p class="font-proxima-nova text-zinc-800 dark:text-zinc-200">
            Například v Barceloně nejen vidět krásy města a Gaudího architekturu, ale také znát zajímavosti z dob katalánských knížat,
            znát kořeny snah Katalánska o nezávislost nebo dopady frankistického režimu na tento kraj, mít povědomí třeba o jedné z nejstarších řeckých
            koloniích Empúries, vědět hlavu a patu římskému amfiteátru v Tarragoně (svého času Tarraco) či příběh katedrály Santa Maria del Mar.
            Mít načtený výběr knih, jejichž děj se v Barceloně odehrává a dění ve městě přibližují (např. Nic od Carmen Laforet a Katedrála moře od Ildefons Falcons).
            No a to vše kloubit s rozšiřováním  a upevňováním znalostí týkajících se španělštiny. 
          </p>
        </div>
      </div>

      <!-- IMAGES -->
      <div class="flex flex-col ~gap-4/8">
        <picture>
          <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/about-me/ludmila-vycitalova.webp" | resize({ width: 1136, height: 746 }) | webp({ quality: 70 }) %}" type="image/webp">
          <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/about-me/ludmila-vycitalova.webp" | resize({ width: 1536, height: 1008 }) | webp({ quality: 70 }) %}" type="image/webp">
          <img
            class="w-full max-w-3xl rounded-xl object-cover"
            src="{% getUrl "/assets/images/about-me/ludmila-vycitalova.webp" | resize({ width: 1536, height: 1008 }) | jpeg({ quality: 70 }) %}"
            alt="Fotka lektorky Ludmily Vyčítalové"
            decoding="async"
            loading="eager"
            width="768"
            height="504"
            draggable="false"/>
        </picture>

        <picture>
          <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/about-me/ludmila-vycitalova-cena.webp" | resize({ width: 1136, height: 746 }) | webp({ quality: 70 }) %}" type="image/webp">
          <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/about-me/ludmila-vycitalova-cena.webp" | resize({ width: 1536, height: 1008 }) | webp({ quality: 70 }) %}" type="image/webp">
          <img
            class="w-full max-w-3xl rounded-xl object-cover"
            src="{% getUrl "/assets/images/about-me/ludmila-vycitalova-cena.webp" | resize({ width: 1536, height: 1008 }) | jpeg({ quality: 70 }) %}"
            alt="Fotka lektorky Ludmily Vyčítalové, která přebírá cenu"
            decoding="async"
            loading="lazy"
            width="768"
            height="504"
            draggable="false"/>
        </picture>
      </div>
    </div>
  </section>

  {% include "components/reviews.njk" %}
  {% include "components/cta.njk" %}
{% endblock body %}