---
title: 'Pro rodiče a žáky'
description: "Praktické informace pro rodiče a žáky ZŠ Radost: přihlášky, školní družina, stravování, dokumenty a kontakty. Vše potřebné pro rodiče, aby dítě snadno zapojili do školního života a získali aktuální informace."
permalink: 'pro-rodice-a-zaky/'
eleventyNavigation:
  key: Pro rodiče a žáky
  order: 200
---

{% extends "layouts/base.njk" %}

{% block body %}
  {% include "components/landing.njk" %}
  {% from "components/feature.njk" import feature %}

  <!-- Swiper CSS (CDN) -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css">

  <!-- SWIPER - DOCUMENTS FOR DOWNLOAD -->
  <section class="py-16 ~px-4/8">
    <div class="container bg-primary/15 m-auto ~p-4/10 rounded-3xl items-center gap-10 xl:gap-16">
      <div class="px-6 py-1 bg-primary mb-2 rounded-full w-fit text-white font-bold">Soubory</div>
      <h2 class="mb-8 text-primary ~text-4xl/6xl font-bold">Dokumenty ke stažení</h2>

      <!-- Swiper container -->
      <div class="documents-swiper-container relative mx-auto sm:w-[calc(100%-94px)]">
        <div class="w-full swiper documents-swiper parents-students-swiper">
          <div class="swiper-wrapper w-full h-full">
            {% if interest and interest.items %}
              {% for item in interest.items %}
                <div class="swiper-slide !h-auto">
                  <article class="group bg-white rounded-xl shadow-sm hover:shadow-lg transition-shadow duration-300 transform p-6 flex flex-col h-full">
                    <h3 class="text-xl font-bold text-primary mb-2">{{ item.title }}</h3>
                    <p class="text-zinc-800 grow">{{ item.description }}</p>
                    <div class="mt-4">
                      <a href="{{ item.file }}" download class="inline-flex items-center gap-3 px-4 py-2 rounded-full bg-primary hover:bg-primary/80 text-white font-bold transition-all duration-200 transform group-hover:scale-105">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24" fill="none" stroke="currentColor"><path d="M12 3v12" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/><path d="M8 11l4 4 4-4" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/><path d="M21 21H3" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></svg>
                        {{ item.buttonText or 'Stáhnout' }}
                      </a>
                    </div>
                  </article>
                </div>
              {% endfor %}
            {% endif %}
          </div>

          <!-- Pagination -->
          <div class="swiper-pagination parents-gallery-pagination !relative mt-4"></div>
        </div>

        <div class="swiper-button-prev absolute !min-w-10 !w-10 sm:!w-10 sm:min-w-10 flex sm:block items-center justify-center !min-h-10 sm:!min-h-auto !h-10 sm:!h-auto after:!text-[24px] sm:after:!text-[40px] bg-white sm:bg-transparent rounded-full !top-[calc(100%+16px)] sm:!top-1/2 -translate-y-1/2 z-10 sm:!-left-[51px]"></div>
        <div class="swiper-button-next absolute !min-w-10 !w-10 sm:!w-10 sm:min-w-10 flex sm:block items-center justify-center !min-h-10 sm:!min-h-auto !h-10 sm:!h-auto after:!text-[24px] sm:after:!text-[40px] bg-white sm:bg-transparent rounded-full !top-[calc(100%+16px)] sm:!top-1/2 -translate-y-1/2 z-10 sm:!-right-[51px]"></div>
      </div>

      <!-- MORE BTN -->
      <div class="w-full flex justify-center mt-8">
      <a href="/ke-stazeni/" class="group relative w-fit inline-flex items-center px-8 py-2 rounded-full font-bold text-primary bg-white overflow-hidden transition-colors duration-300">
        <span class="pointer-events-none absolute -left-10 inset-0 -skew-x-[10deg] scale-x-0 origin-left bg-primary transition-transform duration-500 ease-out group-hover:scale-x-[1.2]"></span>

        <div class="relative z-10 flex items-center">
          <span class="text-xl md:text-2xl transition-colors duration-300 group-hover:text-white">
            Více dokumentů
          </span>
        </div>
      </a>
      </div>
    </div>
  </section>

  <!-- GALLERY-LIKE SWIPER -->
  <section class="pb-16 ~px-4/8">
    <div class="container bg-primary/15 m-auto ~p-4/10 rounded-3xl items-center gap-10 xl:gap-16">
      <div class="px-6 py-1 bg-primary mb-2 rounded-full w-fit text-white font-bold">Fotogalerie</div>
      <h2 class="mb-8 text-primary ~text-4xl/6xl font-bold">Další momenty</h2>

      <div class="inspiration-swiper-container relative mx-auto sm:w-[calc(100%-94px)]">
        <div class="w-full swiper parents-gallery-swiper parents-students-swiper">
          <div class="swiper-wrapper w-full h-full">
             {% for album in collections.gallery | reverse %}
              {% if album.data.images | length > 0 %}
                {% set coverImage = (album.data.cover or (album.data.images[0] and album.data.images[0].url) ) %}
                <div class="swiper-slide !h-auto">
                  <article class="group bg-white rounded-xl shadow-sm hover:shadow-lg transition-shadow duration-300 transform p-4">
                    <div class="relative rounded-xl overflow-hidden">
                      <a href="{{ album.url }}" class="block">
                        {% if coverImage %}
                          <picture>
                            <source srcset="{% getUrl coverImage | resize({ width: 960, height: 560 }) | webp({ quality: 70 }) %}" type="image/webp">
                            <img class="w-full h-56 rounded-xl object-cover transition-transform duration-500 group-hover:scale-110" src="{% getUrl coverImage | resize({ width: 960, height: 560 }) | jpeg({ quality: 70 }) %}" alt="{{ album.data.title }}" loading="lazy" decoding="async" draggable="false"/>
                          </picture>
                        {% else %}
                          <div class="w-full h-56 bg-zinc-100"></div>
                        {% endif %}
                      </a>

                      <div class="absolute inset-0 bg-black/40 opacity-0 group-hover:opacity-100 transition-opacity duration-500"></div>

                      <div class="absolute inset-0 flex items-center justify-center px-4 text-white text-center opacity-0 group-hover:opacity-100 transition-opacity duration-500">
                        <a href="{{ album.url }}" class="group relative w-fit inline-flex items-center px-4 py-2 rounded-full font-bold text-primary bg-white overflow-hidden transition-colors duration-300">
                          <span class="pointer-events-none absolute -left-10 inset-0 -skew-x-[10deg] scale-x-0 origin-left bg-primary transition-transform duration-500 ease-out group-hover:scale-x-[1.2]"></span>
                          <div class="relative z-10 flex items-center">
                            <span class="transition-colors duration-300 group-hover:text-white">Více obrázků</span>
                          </div>
                        </a>
                      </div>
                    </div>

                    <h3 class="text-xl font-bold text-zinc-900 mt-3 mb-2">{{ album.data.title }}</h3>
                    <p class="text-zinc-700 line-clamp-3">{{ album.data.description or '' }}</p>
                  </article>
                </div>
              {% endif %}
            {% endfor %}
          </div>

          <!-- Pagination -->
          <div class="swiper-pagination parents-gallery-pagination !relative mt-4"></div>
        </div>

        <div class="swiper-button-prev parents-gallery-button-prev absolute !min-w-10 !w-10 sm:!w-10 sm:min-w-10 flex sm:block items-center justify-center !min-h-10 sm:!min-h-auto !h-10 sm:!h-auto after:!text-[24px] sm:after:!text-[40px] bg-white sm:bg-transparent rounded-full !top-[calc(100%+16px)] sm:!top-1/2 -translate-y-1/2 z-10 !text-primary sm:!-left-[51px]"></div>
        <div class="swiper-button-next parents-gallery-button-next  absolute !min-w-10 !w-10 sm:!w-10 sm:min-w-10 flex sm:block items-center justify-center !min-h-10 sm:!min-h-auto !h-10 sm:!h-auto after:!text-[24px] sm:after:!text-[40px] bg-white sm:bg-transparent rounded-full !top-[calc(100%+16px)] sm:!top-1/2 -translate-y-1/2 z-10 !text-primary sm:!-right-[51px]"></div>
      </div>

      <!-- MORE BTN -->
      <div class="w-full flex justify-center mt-8">
      <a href="/fotogalerie" class="group relative w-fit inline-flex items-center px-8 py-2 rounded-full font-bold text-primary bg-white overflow-hidden transition-colors duration-300">
        <span class="pointer-events-none absolute -left-10 inset-0 -skew-x-[10deg] scale-x-0 origin-left bg-primary transition-transform duration-500 ease-out group-hover:scale-x-[1.2]"></span>

        <div class="relative z-10 flex items-center">
          <span class="text-xl md:text-2xl transition-colors duration-300 group-hover:text-white">
            Více fotografií
          </span>
        </div>
      </a>
      </div>
    </div>
  </section>


  <!-- Školní družina -->
  {% call feature({ id: 'druzina', color: 'primary', containerBg: 'bg-primary/15', topper: 'Odpolední péče', title: 'Školní družina', image: '/assets/images/about-us/school-photo-landing.webp', imageAlt: 'Fotka školy Radost', href: '/about', buttonText: 'Přihláška do družiny', reverse: false }) %}
    <p>Záměrem školy je být pro rodiče partnerem nejen ve vzdělávání dětí, ale i pro běžný život.</p>
    <p>Zajišťujeme školní družinu, kde se o děti postaráme i mimo vyučování, abyste se v klidu mohli věnovat své práci. Děti se tak mohou déle stmelovat v kolektivu a rozvíjet své praktické dovednosti.</p>
    <p>Poplatek za školní družinu pro rok 2024/2025 činí 500 Kč za měsíc.</p>
  {% endcall %}


  <!-- CATERING -->
  <section class="pb-16 ~px-4/8" id="stravovani">
    <div class="container bg-primary/15 m-auto ~p-4/10 rounded-3xl">
      <div class="px-6 py-1 bg-primary mb-2 rounded-full w-fit text-white font-bold">Školní obědy</div>
      <h2 class="mb-6 sm:mb-8 text-primary ~text-4xl/6xl font-bold">Školní stravování</h2>

      <div class="mb-8 flex flex-col gap-3 text-zinc-900 text-base sm:text-lg lg:text-xl md:text-xl">
        <p>Obědy pro Základní školu RADOST připravuje <b>Střední škola gastronomická a technická Žamberk.</b></p>
        <p><b>Přihlašování a odhlašování obědů:</b> WhatsApp skupina</p>
        <p>
          <b>Platby:</b> <br>
          Číslo účtu: 6616395319/0800 <br>
          Variabilní symbol: pod variabilní symbol uveďte datum narození dítěte ve formátu RRRRMMDD (např. 20180209) <br>
          Zpráva pro příjemce: celé jméno žáka, obědy a měsíc (např. Anna Malíčková, obědy únor)</p>
        <p>
          <b>Informace o stravování:</b> <br>
          Cena stravného pro školní rok 2024/2025 činí 70 Kč. <br>
          Škola automaticky objednává stravu pro všechny přihlášené žáky. V době nepřítomnosti žáka je nutné oběd ODHLÁSIT. Pokud stravu včas neodhlásíte, oběd propadá a účtuje se jako odebraný v celé jeho výši. <br>
          Oběd je možné odhlásit nejpozději <b>den předem do 20:00 hod.</b>
        </p>
      </div>

      <a href="/about" class="group relative w-fit inline-flex items-center px-8 py-2 md:px-12 md:py-4 rounded-full font-bold text-white bg-primary overflow-hidden transition-colors duration-300">
        <span class="pointer-events-none absolute -left-10 inset-0 -skew-x-[10deg] scale-x-0 origin-left bg-white transition-transform duration-500 ease-out group-hover:scale-x-[1.2]"></span>

        <div class="relative z-10 flex items-center">
          <span class="text-lg sm:text-xl md:text-2xl pr-2 transition-colors duration-300 group-hover:text-primary">
            Přihlásit se
          </span>

            <svg class="hidden md:block fill-white transition-all duration-300 group-hover:translate-x-1 group-hover:fill-primary"
                xmlns="http://www.w3.org/2000/svg" height="24" width="24"
                viewBox="0 -960 960 960" fill="currentColor">
              <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/>
            </svg>
        </div>
      </a>
    </div>
  </section>

  <!-- Školné -->
  {% call feature({ id: 'skolne', color: 'primary', containerBg: 'bg-primary/15', topper: 'Školné 2024/25', title: 'Školné', image: '/assets/images/about-us/school-photo-landing.webp', imageAlt: 'Fotka školy Radost', href: '/about', buttonText: 'Přihláška ZŠ Radost', reverse: false }) %}
    <p>Poplatek za školní rok 2024/2025 činí 5 000 Kč za měsíc.</p>
    <p>(Sourozenecká sleva možná.)</p>
  {% endcall %}


  {% include "components/cta.njk" %}
  {% include "components/partners.njk" %}

  <!-- Swiper JS (CDN) + init script -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script>
    (function(){
      if(typeof Swiper === 'undefined') return;

      new Swiper('.documents-swiper', {
        slidesPerView: 1,
        spaceBetween: 16,
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        },
        breakpoints: {
          640: { slidesPerView: 1.2 },
          768: { slidesPerView: 2 },
          1024: { slidesPerView: 3 }
        }
      });
      // Gallery-like swiper on this page
      new Swiper('.parents-gallery-swiper', {
        slidesPerView: 1,
        spaceBetween: 16,
        pagination: {
          el: '.parents-gallery-pagination',
          clickable: true
        },
        navigation: {
          nextEl: '.parents-gallery-button-next',
          prevEl: '.parents-gallery-button-prev'
        },
        breakpoints: {
          640: { slidesPerView: 1.2 },
          768: { slidesPerView: 2 },
          1024: { slidesPerView: 3 }
        }
      });
    })();
  </script>
{% endblock body %}