---
title: 'Tým'
description: "Seznam učitelů, průvodců a spolupracovníků ZŠ Radost — jejich profily, zkušenosti a role ve škole. Poznejte tým, který podporuje sebeřízené vzdělávání, rozvoj dovedností a osobnostní růst dětí."
permalink: 'team/'
eleventyNavigation:
  key: Tým
  order: 590
---

{% extends "layouts/base.njk" %}

{% block body %}
  {% include "components/landing.njk" %}

  <section class="py-16 ~px-4/8">
    <div class="container bg-green/15 m-auto ~p-4/10 rounded-3xl items-center">
      <div class="px-6 py-1 bg-green mb-2 rounded-full w-fit text-white font-bold">Kdo tvoří tým?</div>
      <h2 class="mb-8 text-green ~text-4xl/6xl font-bold">RADOSTný tým</h2>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        {% from "components/team-card.njk" import teamCard %}
        {% for member in collections.team %}
          {% if member.data.published is not defined or member.data.published %}
            {{ teamCard(member, { color: 'green' }) }}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>

  {% include "components/cta.njk" %}
  {% include "components/partners.njk" %}

{% endblock body %}
