---
title: 'Videokurzy'
description: 'Učte se španělsky odkudkoli! Online videokurzy pro všechny úrovně, které vám zůstanou napořád. Studujte vlastním tempem.'
permalink: 'videokurzy/'
eleventyNavigation:
  key: Videokurzy
  parent: Služby
  order: 300
---

{% extends "layouts/base.njk" %}

{% block body %}
  {% include "components/landing.njk" %}

  <!-- SERVICES -->
  <section class="py-24 ~px-4/8 bg-zinc-100 dark:bg-zinc-900">
    <div class="container m-auto flex max-xl:flex-col justify-center items-center xl:items-start ~gap-12/24">
      <!-- TEXT -->
      <div class="flex flex-col items-start gap-6">
        <!-- HEADING + TEXT -->
        <div class="flex flex-col gap-4 max-w-2xl">
          <!-- TOPPER + HEADING -->
          <div class="flex flex-col gap-1">
            <span class="font-proxima-nova text-primary dark:text-secondary font-bold leading-none">Videokurzy</span>
            <h1 class="dark:text-white ~text-2xl/3xl font-bold">
              Učte se španělsky odkudkoliv a svým tempem s našimi videokurzy!
            </h1>
          </div>
          <p class="font-proxima-nova text-zinc-800 dark:text-zinc-200">
            Chcete se učit jazyk vlastním tempem, kdykoliv máte čas a náladu? Rádi byste měli kompletní kurz na dosah ruky, bez nutnosti docházet na
            lekce a vázat se na pevný rozvrh? Naše videokurzy jsou přesně pro vás!
          </p>
          <p class="font-proxima-nova text-zinc-800 dark:text-zinc-200">
            Díky unikátnímu propojení videí a učebnice <span class="font-bold">Aventura 1</span> získáte promyšlený, systematický a praktický kurz, který vás efektivně povede od základů až
            po pokročilé znalosti. A to vše z pohodlí domova, v kavárně nebo třeba na zahradě – offline i online.
          </p>
        </div>

        <div class="flex flex-col gap-2 max-w-2xl">
          <h3 class="dark:text-white text-lg font-bold">Jak videokurz funguje?</h3>
          <ol class="flex flex-col gap-1 list-decimal">
            <li class="ml-5 font-proxima-nova text-zinc-800 dark:text-zinc-200">
              <span class="font-bold">Flexibilita</span> – učíte se kdykoliv a kdekoliv, bez nutnosti přizpůsobovat se pevně danému rozvrhu.
            </li>
            <li class="ml-5 font-proxima-nova text-zinc-800 dark:text-zinc-200">
              <span class="font-bold">Kombinace videí a učebnice</span> – pracujete nejen s videi, ale i s tištěným materiálem, který si můžete vzít kamkoliv s sebou a učit se i offline.
            </li>
            <li class="ml-5 font-proxima-nova text-zinc-800 dark:text-zinc-200">
              <span class="font-bold">Strukturovaný systém</span> – videa jsou přesně napasovaná na učebnici, což zajišťuje logickou posloupnost a plynulý pokrok.
            </li>
            <li class="ml-5 font-proxima-nova text-zinc-800 dark:text-zinc-200">
              <span class="font-bold">Kompletní výklad i praxe</span> – v každém tématu se střídá teoretické vysvětlení s praktickými cvičeními a ověřením výsledků.
            </li>
            <li class="ml-5 font-proxima-nova text-zinc-800 dark:text-zinc-200">
              <span class="font-bold">Výslovnost a poslech</span> – ve videích trénujeme správnou výslovnost, přízvuk i intonaci vět.
            </li>
          </ol>
        </div>

        <div class="flex flex-col gap-2 max-w-2xl">
          <h3 class="dark:text-white text-lg font-bold">Co v kurzu najdete?</h3>

          <ul class="flex flex-col gap-2 list-disc">
            <li class="ml-5 font-proxima-nova text-zinc-800 dark:text-zinc-200">
              <span class="font-bold">Výkladová videa</span>
              <ul class="flex flex-col gap-1 mt-1 list-disc">
                <li class="ml-5 font-proxima-nova text-zinc-800 dark:text-zinc-200">
                  Jasná, srozumitelná a podrobná vysvětlení, díky kterým pochopíte gramatiku, slovní zásobu i správnou výslovnost.
                </li>
                <li class="ml-5 font-proxima-nova text-zinc-800 dark:text-zinc-200">
                  Pracujeme krok za krokem, kapitolu po kapitole, tak abyste měli všechny informace přehledně a logicky uspořádané.
                </li>
                <li class="ml-5 font-proxima-nova text-zinc-800 dark:text-zinc-200">
                  Každé video obsahuje poslechová cvičení, doplňující informace a užitečné tipy pro efektivní studium.
                </li>
              </ul>
            </li>
            <li class="ml-5 font-proxima-nova text-zinc-800 dark:text-zinc-200">
              <span class="font-bold">Výsledková videa</span>
              <ul class="flex flex-col gap-1 mt-1 list-disc">
                <li class="ml-5 font-proxima-nova text-zinc-800 dark:text-zinc-200">
                  Po vypracování cvičení v učebnici si své odpovědi ověříte pomocí komentované prezentace.
                </li>
                <li class="ml-5 font-proxima-nova text-zinc-800 dark:text-zinc-200">
                  Výsledky uslyšíte, uvidíte a zároveň dostanete vysvětlení tam, kde jste případně chybovali.
                </li>
                <li class="ml-5 font-proxima-nova text-zinc-800 dark:text-zinc-200">
                  Trénujeme výslovnost a melodii vět, přičemž nechávám prostor, abyste si mohli vše zopakovat nahlas.
                </li>
              </ul>
            </li>
            <li class="ml-5 font-proxima-nova text-zinc-800 dark:text-zinc-200">
              <span class="font-bold">Bonusová videa</span>
              <ul class="flex flex-col gap-1 mt-1 list-disc">
                <li class="ml-5 font-proxima-nova text-zinc-800 dark:text-zinc-200">
                  Další zajímavé zdroje, tipy na aplikace, praktická cvičení a interaktivní tréninky, které vám pomohou upevnit znalosti.
                </li>
                <li class="ml-5 font-proxima-nova text-zinc-800 dark:text-zinc-200">
                  Postupně přidávám nová videa, takže se váš kurz neustále rozšiřuje o další užitečné materiály.
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <div class="flex flex-col gap-2 max-w-2xl">
          <h3 class="dark:text-white text-lg font-bold">Proč zvolit videokurz místo klasických lekcí?</h3>
          <ol class="flex flex-col gap-1 list-decimal">
            <li class="ml-5 font-proxima-nova text-zinc-800 dark:text-zinc-200">
              <span class="font-bold">Studujete vlastním tempem</span> – žádné dohánění skupiny, žádné pevné termíny lekcí.
            </li>
            <li class="ml-5 font-proxima-nova text-zinc-800 dark:text-zinc-200">
              <span class="font-bold">Žádné zmeškané lekce</span> – klasické kurzy mají pevný rozvrh, a můž se stát, že lekci nestihnete. S videokurzem se vám to nestane – kurz je váš napořád.
            </li>
            <li class="ml-5 font-proxima-nova text-zinc-800 dark:text-zinc-200">
              <span class="font-bold">Bez rizika – garance vrácení peněz</span> – pokud kurz nesplní vaše očekávání, vrátím vám peníze. Nemůžete nic ztratit!
            </li>
          </ol>
        </div>

        <!-- CTA BUTTON -->
        <a class="hidden xl:block relative px-4 py-2 bg-primary text-white font-semibold rounded-lg z-10 overflow-hidden whitespace-nowrap
          before:absolute before:top-0 before:left-0 before:h-full before:w-full before:bg-tertiary before:-z-10
          before:scale-x-0 before:origin-left before:transition-transform before:duration-300 hover:before:scale-x-100"
          href="https://edu.spanelskeslunce.cz/"
          target="_blank">
          Edukativní portál
        </a>
      </div>

      <!-- IMAGE -->
      <picture class="sticky top-40">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service/video-courses.jpg" | resize({ width: 1136, height: 746, position: 'top' }) | webp({ quality: 70 }) %}" type="image/webp">
        <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/service/video-courses.jpg" | resize({ width: 1536, height: 1008, position: 'top' }) | webp({ quality: 70 }) %}" type="image/webp">
        <img
            class="w-full max-w-3xl rounded-xl object-cover"
            src="{% getUrl "/assets/images/service/video-courses.jpg" | resize({ width: 1536, height: 1008, position: 'top' }) | jpeg({ quality: 70 }) %}"
            alt="Segrada Famila"
            decoding="async"
            loading="lazy"
            width="768"
            height="504"
            draggable="false"/>
      </picture>
    </div>
  </section>

  <!-- SALES FORM -->
  <section class="py-24 ~px-4/8 dark:bg-zinc-950">
    <div class="container m-auto flex flex-col justify-center items-center gap-16">
      <!-- HEADING + TEXT -->
      <div class="flex flex-col gap-4 max-w-2xl">
        <!-- TOPPER + HEADING -->
        <div class="flex flex-col items-center gap-1">
          <span class="font-proxima-nova text-center text-primary dark:text-secondary font-bold leading-none">Objednat videokurz</span>
          <h2 class="text-center dark:text-white ~text-2xl/3xl font-bold">
            Získejte videokurz za nejlepší cenu už teď!
          </h2>
        </div>
        <p class="font-proxima-nova text-center text-zinc-800 dark:text-zinc-200">
          Kurz je stále v procesu natáčení, ale už nyní máte možnost začít! Níže uvedená cena je za celou učebnici Aventura 1 – s tím, že nyní jsou natočeny 3 první lekce (49 videí + několik bonusových).
          Cena vám při zakoupení zůstane a budete si užívat další lekce. Při pozdějším zakoupení (s přibývajícími hotovými lekcemi) bude cena vyšší.
        </p>
        <p class="font-proxima-nova text-center text-zinc-800 dark:text-zinc-200 font-bold">
          Čím dříve pořídíte, tím lepší cena! 
        </p>
      </div>

      <!-- FORM -->
      <script type="text/javascript" src="https://form.fapi.cz/script.php?id=45864f16-23ad-4f71-aeb3-4460459aab78"></script>
    </div>
  </section>

  {% include "components/faq.njk" %}
  {% include "components/reviews.njk" %}
{% endblock body %}