@tailwind base;
@tailwind components;
@tailwind utilities;

/* Arsenal fonts */
@font-face {
  font-family: 'Arsenal';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Arsenal-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Arsenal';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Arsenal-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Arsenal';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Arsenal-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Arsenal';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Arsenal-BoldItalic.ttf') format('truetype');
}

/* Set Arsenal as the default font for the site */
html,
body {
  font-family: 'Arsenal', ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.bg-pattern {
  position: relative;
  z-index: -11;
}

.bg-pattern::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('../images/background/bg-pattern.png');
  background-repeat: repeat-y;
  background-size: auto;
  filter: blur(16px);
  z-index: -10;
}

.linear-gradient {
  background: linear-gradient(254.32deg, rgba(181, 43, 255, 0.8) 4.39%, rgba(17, 142, 255, 0.8) 52.49%, rgba(33, 131, 128, 0.8) 76.55%, rgba(13, 168, 74, 0.8) 100.6%);
}

/* ====================================== */
/* === DARKMODE SWITCH AND TRANSITION === */
/* ====================================== */

:root {
  --bg-planet-bright: #ecd590;
  --bg-polygon-bright: #f2a54c;
  --bg-planet-shadow: #828894;
  --bg-planet-lightshadow: #3a3a3a;
  --dot-size: 0.25rem;
}

/* =========================== */
/* =========================== */
/* =========================== */

/* ====================== */
/* === COOKIE CONSENT === */
/* ====================== */

#cc-main {
  /** Change font **/
  --cc-font-family: 'Arsenal', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /** Change modal border radius **/
  --cc-modal-border-radius: .75rem;

  /** Change button primary color to primary and tertiary on hover **/
  --cc-btn-primary-bg: var(--primary);
  --cc-btn-primary-border-color: var(--primary);
  --cc-btn-primary-hover-bg: var(--tertiary);
  --cc-btn-primary-hover-border-color: var(--tertiary);

  --cc-btn-primary-color: #FFF;
  --cc-btn-primary-hover-color: #FFF;
}

/* ====================== */
/* ====================== */
/* ====================== */


/* Prevent navigation buttons/pagination from overlapping slides. Make pagination and nav buttons sit below the slider and centered. */
/* .inspiration-swiper { display: flex !important; } */
.inspiration-swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #B52BFF !important;
}

.parents-students-swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #218380 !important;
}

.green-swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #0DA84A !important;
}