---
title: 'Kvalitní výuka španělštiny a krásné zážitky'
description: 'Objevte efektivní kurzy španělštiny, videokurzy a pobytové kurzy, které vám pomohou se rozmluvit. Učte se přirozeně, prakticky a s radostí!'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Domů
  order: 100
---

{% extends "layouts/base.njk" %}

{% block head %}
  <!-- Preload the hero images -->
  <link rel="preload" as="image" href="{% getUrl '/assets/images/hero/laptop_with_coffee.jpg' | resize({ width: 454, height: 576, position: 'left' }) | webp({ quality: 70 }) %}"/>
  <link rel="preload" as="image" href="{% getUrl '/assets/images/hero/segrada-familia.jpg' | resize({ width: 480, height: 454 }) | webp({ quality: 70 }) %}"/>
  <link rel="preload" as="image" href="{% getUrl '/assets/images/hero/person-writing-notebook.jpg' | resize({ width: 500, height: 384 }) | webp({ quality: 70 }) %}"/>
  <link rel="preload" as="image" href="{% getUrl '/assets/images/hero/descubre-workbook.png' | resize({ width: 408, height: 624 }) | webp({ quality: 70 }) %}"/>

  <!-- Script for Netlify Identity -->
  <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <!-- Netlify Identity configuration -->
  <script defer src="/assets/js/identity.js"></script>

  <!-- JSON Schema Markup -->
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "LocalBusiness",
      "name": "{{ client.name }}",
      {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
      {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
      {% if client.email %}"email": "{{ client.email }}",{% endif %}
      {% if client.address %}
        "address": {
          "@type": "PostalAddress"{% if client.address.lineOne %},
            "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
          {% endif %}
          {% if client.address.city %},
            "addressLocality": "{{ client.address.city }}"
          {% endif %}
          {% if client.address.state %},
            "addressRegion": "{{ client.address.state }}"
          {% endif %}
          {% if client.address.zip %},
            "postalCode": "{{ client.address.zip }}"
          {% endif %}
          {% if client.address.country %},
            "addressCountry": "{{ client.address.country }}"
          {% endif %}
        },
      {% endif %}
      {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}"{% if client.socials %},{% endif %}{% endif %}
      {% if client.socials %}
        "sameAs": [{% for platform, url in client.socials %}
            {% if not loop.first %},{% endif %}
            "{{ url }}"
          {% endfor %}]
      {% endif %}
    }
  </script>
{% endblock %}

{% block body %}
  <!-- HERO -->
  <section class="bg-white h-screen relative pt-24 ~px-4/8 overflow-hidden flex items-center justify-center">
    <div class="z-[2] container m-auto flex max-2xl:flex-col justify-center items-center ~gap-12/24">
      <!-- HEADING + CTA -->
      <div class="flex flex-col items-center justify-center 2xl:items-start gap-12">
        <!-- HEADING + TEXT -->
        <div class="flex flex-col gap-4 max-w-6xl">
          <!-- TOPPER + HEADING -->
          <div class="flex flex-col max-2xl:items-center gap-2">
            <h1 class="~text-6xl/7xl text-center font-bold text-white">
              ZÁKLADNÍ ŠKOLA RADOST
            </h1>
          </div>
          <p class="~text-3xl/4xl text-zinc-200 text-center">
            ... pro radost z dětí, pro radost z poznávání, pro radost ze života ...
          </p>
        </div>

        <!-- CTA BUTTON -->
        <a class="mx-auto px-16 py-3 bg-white rounded-full text-primary text-xl font-bold"
          href="/kontakt">
          Naše vize
        </a>
      </div>
    </div>

    <!-- BACKGROUND -->
    <picture class="before:absolute before:top-0 before:left-0 before:h-full before:w-full before:z-[1] before:bg-black/50">
      <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hero/hero_background_image.jpg" | resize({ width: 1920, height: 800 }) | webp({ quality: 70 }) %}" type="image/webp">
      <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/hero/hero_background_image.jpg" | resize({ width: 1920, height: 800 }) | webp({ quality: 70 }) %}" type="image/webp">
      <img
          class="absolute inset-0 h-full w-full object-cover z-0"
          src="{% getUrl "/assets/images/hero/hero_background_image.jpg" | resize({ width: 1920, height: 800 }) | jpeg({ quality: 70 }) %}"
          alt="Tmavé pozadí"
          decoding="async"
          loading="eager"
          width="1920"
          height="800"
          draggable="false"/>
    </picture>

    <div class="absolute inset-0 linear-gradient z-0 opacity-80"></div>
  </section>

  <!-- SERVICES -->
  <section class="py-24 ~px-4/8">
    <div class="container m-auto flex flex-col items-center gap-16">
      <!-- HEADING + TEXT -->
      <div class="flex flex-col gap-4 max-w-2xl">
        <!-- TOPPER + HEADING -->
        <div class="flex flex-col gap-1">
          <span class="font-proxima-nova text-center text-primary dark:text-secondary font-bold leading-none">Naše služby</span>
          <h2 class="dark:text-white text-center ~text-2xl/3xl font-bold">
            Výuka španělštiny - od online kurzů až po zážitkové pobyty
          </h2>
        </div>
        <p class="font-proxima-nova text-center text-zinc-800 dark:text-zinc-200">
          Od intenzivních pobytových kurzů přes skupinové online lekce až po flexibilní videokurzy.
          Každá z našich služeb je navržena tak, aby maximálně vyhovovala vašemu stylu učení a časovým možnostem.
        </p>
      </div>

      <!-- SERVICES -->
      <div class="grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-4 max-md:justify-items-center gap-8 w-full">
        <!-- SERVICE ITEM 1 -->
        <a
          href="/online-kurzy"
          class="md:justify-self-end group relative flex flex-col justify-center items-center min-h-80 w-full max-w-sm p-6 bg-white dark:bg-zinc-950 rounded-xl border-4 border-transparent overflow-hidden z-10
          transition-colors duration-300 hover:border-tertiary"
        >
          <!-- ICON -->
          <img
            class="h-40 mb-6 transition-[height,_opacity,_margin-bottom] duration-500 group-hover:h-0 group-hover:opacity-0 group-hover:mb-0"
            src="/assets/svgs/services/SPSL_icon-online.svg"
            alt="Ikona online kurzu"
            decoding="async"
            loading="lazy"
            width="160"
            height="160"
            draggable="false"/>

          <div class="flex flex-col items-center w-full">
            <h3 class="dark:text-white text-center text-2xl font-bold mb-0 transition-[margin-bottom] duration-500 group-hover:mb-4">Online kurzy</h3>
            <div class="relative w-full h-0 transition-[height] duration-500 group-hover:h-[5lh]">
              <p class="absolute top-0 left-1/2 -translate-x-1/2 w-full font-proxima-nova text-center text-zinc-800 dark:text-zinc-200
                opacity-0 scale-y-0 transition-[transform,_opacity] duration-500 origin-top group-hover:opacity-100 group-hover:scale-y-100">
                Učte se španělsky z pohodlí domova v živých online lekcích.
                Připojte se k malé skupině maximálně 10 studentů a užijte si výuku vedenou zkušenou lektorkou.
              </p>
            </div>
          </div>

          <!-- READ MORE -->
          <div
            class="group/more absolute bottom-4 left-1/2 translate-y-8 -translate-x-1/2 flex items-center gap-1 opacity-0 transition-[transform,_opacity] duration-500
              group-hover:opacity-100 group-hover:translate-y-0">
            <span class="relative text-right text-tertiary text-sm font-semibold leading-none whitespace-nowrap
              before:absolute before:-bottom-1 before:left-0 before:h-0.5 before:w-full before:bg-tertiary before:transition-transform before:duration-300
              before:scale-x-0 before:origin-left group-hover/more:before:scale-x-100">
              Dozvědět se více
            </span>
            <!-- ICON -->
            <img
              class="mt-0.5 transition-[transform,_opacity] duration-300 group-hover/more:opacity-0 group-hover/more:translate-x-2"
              src="/assets/svgs/services/trending_flat.svg"
              alt="Ikona šipky"
              decoding="async"
              loading="lazy"
              width="16"
              height="16"
              draggable="false"/>
          </div>

          <!-- BACKGROUND ICON -->
          <img 
            class="absolute -top-full -left-full opacity-25 rotate-[30deg] -z-10 transition-transform duration-300
              group-hover:translate-x-64 group-hover:translate-y-64"
            src="/assets/svgs/services/SPSL_icon-online.svg"
            alt="Ikona online kurzu v pozadí"
            decoding="async"
            loading="lazy"
            width="256"
            height="256"
            draggable="false"/>
        </a>

        <!-- SERVICE ITEM 2 -->
        <a
          href="/pobytove-kurzy"
          class="group relative flex flex-col justify-center items-center min-h-80 w-full max-w-sm p-6 bg-white dark:bg-zinc-950 rounded-xl border-4 border-transparent overflow-hidden z-10
          transition-colors duration-300 hover:border-tertiary"
        >
          <!-- ICON -->
          <img
            class="h-40 mb-6 transition-[height,_opacity,_margin-bottom] duration-500 group-hover:h-0 group-hover:opacity-0 group-hover:mb-0"
            src="/assets/svgs/services/SPSL_icon-spain.svg"
            alt="Ikona pobytového kurzu"
            decoding="async"
            loading="lazy"
            width="160"
            height="160"
            draggable="false"/>

          <div class="flex flex-col items-center w-full">
            <h3 class="dark:text-white text-center text-2xl font-bold mb-0 transition-[margin-bottom] duration-500 group-hover:mb-4">Pobytové kurzy</h3>
            <div class="relative w-full h-0 transition-[height] duration-500 group-hover:h-[5lh]">
              <p class="absolute top-0 left-1/2 -translate-x-1/2 w-full font-proxima-nova text-center text-zinc-800 dark:text-zinc-200
                opacity-0 scale-y-0 transition-[transform,_opacity] duration-500 origin-top group-hover:opacity-100 group-hover:scale-y-100">
                Naše pobytové kurzy kombinují dopolední intenzivní výuku španělštiny s odpoledním objevováním krás místní architektury, gastronomie a života.
              </p>
            </div>
          </div>

          <!-- READ MORE -->
          <div
            class="group/more absolute bottom-4 left-1/2 translate-y-8 -translate-x-1/2 flex items-center gap-1 opacity-0 transition-[transform,_opacity] duration-500
              group-hover:opacity-100 group-hover:translate-y-0">
            <span class="relative text-right text-tertiary text-sm font-semibold leading-none whitespace-nowrap
              before:absolute before:-bottom-1 before:left-0 before:h-0.5 before:w-full before:bg-tertiary before:transition-transform before:duration-300
              before:scale-x-0 before:origin-left group-hover/more:before:scale-x-100">
              Dozvědět se více
            </span>
            <!-- ICON -->
            <img
              class="mt-0.5 transition-[transform,_opacity] duration-300 group-hover/more:opacity-0 group-hover/more:translate-x-2"
              src="/assets/svgs/services/trending_flat.svg"
              alt="Ikona šipky"
              decoding="async"
              loading="lazy"
              width="16"
              height="16"
              draggable="false"/>
          </div>

          <!-- BACKGROUND ICON -->
          <img 
            class="absolute -top-full -left-full opacity-25 rotate-[30deg] -z-10 transition-transform duration-300
              group-hover:translate-x-64 group-hover:translate-y-64"
            src="/assets/svgs/services/SPSL_icon-spain.svg"
            alt="Ikona pobytového kurzu v pozadí"
            decoding="async"
            loading="lazy"
            width="256"
            height="256"
            draggable="false"/>
        </a>

        <!-- SERVICE ITEM 3 -->
        <a
          href="/videokurzy"
          class="md:justify-self-end group relative flex flex-col justify-center items-center min-h-80 w-full max-w-sm p-6 bg-white dark:bg-zinc-950 rounded-xl border-4 border-transparent overflow-hidden z-10
          transition-colors duration-300 hover:border-tertiary"
        >
          <!-- ICON -->
          <img
            class="h-40 mb-6 transition-[height,_opacity,_margin-bottom] duration-500 group-hover:h-0 group-hover:opacity-0 group-hover:mb-0"
            src="/assets/svgs/services/SPSL_icon-video.svg"
            alt="Ikona videokurzu"
            decoding="async"
            loading="lazy"
            width="160"
            height="160"
            draggable="false"/>

          <div class="flex flex-col items-center w-full">
            <h3 class="dark:text-white text-center text-2xl font-bold mb-0 transition-[margin-bottom] duration-500 group-hover:mb-4">Videokurzy</h3>
            <div class="relative w-full h-0 transition-[height] duration-500 group-hover:h-[5lh]">
              <p class="absolute top-0 left-1/2 -translate-x-1/2 w-full font-proxima-nova text-center text-zinc-800 dark:text-zinc-200
                opacity-0 scale-y-0 transition-[transform,_opacity] duration-500 origin-top group-hover:opacity-100 group-hover:scale-y-100">
                Učte se španělsky svým vlastním tempem s našimi propracovanými videokurzy!
                Získáte komplexní výukový systém kombinující interaktivní videa s tištěnou učebnicí.
              </p>
            </div>
          </div>

          <!-- READ MORE -->
          <div
            class="group/more absolute bottom-4 left-1/2 translate-y-8 -translate-x-1/2 flex items-center gap-1 opacity-0 transition-[transform,_opacity] duration-500
              group-hover:opacity-100 group-hover:translate-y-0">
            <span class="relative text-right text-tertiary text-sm font-semibold leading-none whitespace-nowrap
              before:absolute before:-bottom-1 before:left-0 before:h-0.5 before:w-full before:bg-tertiary before:transition-transform before:duration-300
              before:scale-x-0 before:origin-left group-hover/more:before:scale-x-100">
              Dozvědět se více
            </span>
            <!-- ICON -->
            <img
              class="mt-0.5 transition-[transform,_opacity] duration-300 group-hover/more:opacity-0 group-hover/more:translate-x-2"
              src="/assets/svgs/services/trending_flat.svg"
              alt="Ikona šipky"
              decoding="async"
              loading="lazy"
              width="16"
              height="16"
              draggable="false"/>
          </div>

          <!-- BACKGROUND ICON -->
          <img 
            class="absolute -top-full -left-full opacity-25 rotate-[30deg] -z-10 transition-transform duration-300
              group-hover:translate-x-64 group-hover:translate-y-64"
            src="/assets/svgs/services/SPSL_icon-video.svg"
            alt="Ikona videokurzu v pozadí"
            decoding="async"
            loading="lazy"
            width="256"
            height="256"
            draggable="false"/>
        </a>

        <!-- SERVICE ITEM 4 -->
        <a
          href="/preklady"
          class="group relative flex flex-col justify-center items-center min-h-80 w-full max-w-sm p-6 bg-white dark:bg-zinc-950 rounded-xl border-4 border-transparent overflow-hidden z-10
          transition-colors duration-300 hover:border-tertiary"
        >
          <!-- ICON -->
          <img
            class="h-40 mb-6 transition-[height,_opacity,_margin-bottom] duration-500 group-hover:h-0 group-hover:opacity-0 group-hover:mb-0"
            src="/assets/svgs/services/SPSL_icon-translation.svg"
            alt="Ikona překladů"
            decoding="async"
            loading="lazy"
            width="160"
            height="160"
            draggable="false"/>

          <div class="flex flex-col items-center w-full">
            <h3 class="dark:text-white text-center text-2xl font-bold mb-0 transition-[margin-bottom] duration-500 group-hover:mb-4">Překlady</h3>
            <div class="relative w-full h-0 transition-[height] duration-500 group-hover:h-[5lh]">
              <p class="absolute top-0 left-1/2 -translate-x-1/2 w-full font-proxima-nova text-center text-zinc-800 dark:text-zinc-200
                opacity-0 scale-y-0 transition-[transform,_opacity] duration-500 origin-top group-hover:opacity-100 group-hover:scale-y-100">
                Profesionální tlumočení a překlady mezi českým a španělským jazykem pro vaše obchodní jednání, konference či osobní potřeby s důrazem na přesnost.
              </p>
            </div>
          </div>

          <!-- READ MORE -->
          <div
            class="group/more absolute bottom-4 left-1/2 translate-y-8 -translate-x-1/2 flex items-center gap-1 opacity-0 transition-[transform,_opacity] duration-500
              group-hover:opacity-100 group-hover:translate-y-0">
            <span class="relative text-right text-tertiary text-sm font-semibold leading-none whitespace-nowrap
              before:absolute before:-bottom-1 before:left-0 before:h-0.5 before:w-full before:bg-tertiary before:transition-transform before:duration-300
              before:scale-x-0 before:origin-left group-hover/more:before:scale-x-100">
              Dozvědět se více
            </span>
            <!-- ICON -->
            <img
              class="mt-0.5 transition-[transform,_opacity] duration-300 group-hover/more:opacity-0 group-hover/more:translate-x-2"
              src="/assets/svgs/services/trending_flat.svg"
              alt="Ikona šipky"
              decoding="async"
              loading="lazy"
              width="16"
              height="16"
              draggable="false"/>
          </div>

          <!-- BACKGROUND ICON -->
          <img 
            class="absolute -top-full -left-full opacity-25 rotate-[30deg] -z-10 transition-transform duration-300
              group-hover:translate-x-64 group-hover:translate-y-64"
            src="/assets/svgs/services/SPSL_icon-translation.svg"
            alt="Ikona překladů v pozadí"
            decoding="async"
            loading="lazy"
            width="256"
            height="256"
            draggable="false"/>
        </a>
      </div>
    </div>
  </section>

  <!-- ABOUT ME -->
  <section class="relative py-24 ~px-4/8 bg-white dark:bg-zinc-950 z-10 overflow-hidden">
    <div class="container m-auto flex max-2xl:flex-col justify-center items-center ~gap-12/24">
      <!-- IMAGE -->
      <picture>
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/about-me/ludmila-vycitalova.webp" | resize({ width: 1136, height: 746 }) | webp({ quality: 70 }) %}" type="image/webp">
        <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/about-me/ludmila-vycitalova.webp" | resize({ width: 1536, height: 1008 }) | webp({ quality: 70 }) %}" type="image/webp">
        <img
            class="w-full max-w-3xl rounded-xl object-cover"
            src="{% getUrl "/assets/images/about-me/ludmila-vycitalova.webp" | resize({ width: 1536, height: 1008 }) | jpeg({ quality: 70 }) %}"
            alt="Fotka lektorky Ludmily Vyčítalové"
            decoding="async"
            loading="lazy"
            width="1536"
            height="504"
            draggable="false"/>
      </picture>

      <!-- TEXT -->
      <div class="flex flex-col items-start gap-6">
        <!-- HEADING + TEXT -->
        <div class="flex flex-col gap-4 max-w-2xl">
          <!-- TOPPER + HEADING -->
          <div class="flex flex-col gap-1">
            <span class="font-proxima-nova text-primary dark:text-secondary font-bold leading-none">O mně</span>
            <h2 class="dark:text-white ~text-2xl/3xl font-bold">
              Lída Vyčítalová - lektorka španělštiny s dlouholetou praxí
            </h2>
          </div>
          <p class="font-proxima-nova text-zinc-800 dark:text-zinc-200">
            ŠPANĚLSKO: země, kde jsem absolvovala závěr základního vzdělání i celou střední školu, kde jsem dospívala, poprvé si koupila cédéčko,
            svůj první mobil, zažila první lásky, koupila si první auto a později i první vlastní byt, hledala to pravé zaměstnání v různých sektorech.
            Mám zde mnoho přátel, oblíbených míst a na tisíce vzpomínek všeho druhu – jak už to v životě bývá.
          </p>
          <p class="font-proxima-nova text-zinc-800 dark:text-zinc-200">
            Španělsko je navždy tak trochu mým domovem.
          </p>
          <p class="font-proxima-nova text-zinc-800 dark:text-zinc-200">
            Ve Španělsku jsem žila od svých 13 do svých 25 let a tudíž jsem se v mnoha směrech formovala právě pod záštitou španělské mentality, hodnot,
            zvyků a samozřejmě – španělského jazyka. A toužím to předávat dál, dělit se o to poznání a vhled.
          </p>
        </div>

        <!-- BENEFITS -->
        <ul class="flex flex-wrap gap-4">
          <!-- BENEFIT -->
          <li class="flex flex-col items-start gap-3 w-40 p-3 bg-secondary rounded-lg">
            <!-- ICON -->
            <div class="p-1.5 bg-black rounded-md">
              <img
                src="/assets/svgs/about-me/school.svg"
                alt="Ikona zkušeností"
                decoding="async"
                loading="lazy"
                width="32"
                height="32"
                draggable="false"/>
            </div>

            <span class="text-sm font-bold">
              Více než 15 let zkušeností
            </span>
          </li>

          <!-- BENEFIT -->
          <li class="flex flex-col items-start gap-3 w-40 p-3 bg-secondary rounded-lg">
            <!-- ICON -->
            <div class="p-1.5 bg-black rounded-md">
              <img
                src="/assets/svgs/about-me/sentiment_very_satisfied.svg"
                alt="Ikona smějící se smajlíka"
                decoding="async"
                loading="lazy"
                width="32"
                height="32"
                draggable="false"/>
            </div>

            <span class="text-sm font-bold">
              Přátelský přístup
            </span>
          </li>

          <!-- BENEFIT -->
          <li class="flex flex-col items-start gap-3 w-40 p-3 bg-secondary rounded-lg">
            <!-- ICON -->
            <div class="p-1.5 bg-black rounded-md">
              <img
                src="/assets/svgs/about-me/arrows_output.svg"
                alt="Ikona šipek směřujících ven"
                decoding="async"
                loading="lazy"
                width="32"
                height="32"
                draggable="false"/>
            </div>

            <span class="text-sm font-bold">
              Rozmanitost našich kurzů
            </span>
          </li>
        </ul>

        <!-- CTA BUTTON -->
        <a class="block relative px-4 py-2 bg-primary text-sm text-white font-semibold rounded-lg z-10 overflow-hidden whitespace-nowrap
          before:absolute before:top-0 before:left-0 before:h-full before:w-full before:bg-tertiary before:-z-10
          before:scale-x-0 before:origin-left before:transition-transform before:duration-300 hover:before:scale-x-100"
          href="/o-mne">
          Více o mně
        </a>
      </div>
    </div>

    <!-- BACKGROUND IMAGE -->
    <img
      class="absolute top-0 left-0 h-80 md:h-[30rem] w-full 2xl:h-full 2xl:w-1/4 object-cover opacity-50 -z-10"
      src="/assets/svgs/about-me/mosaic_background.svg"
      alt="Pozadí žluté mozaiky"
      decoding="async"
      loading="lazy"
      width="480"
      height="734"
      draggable="false"/>
  </section>

  {% if collections.post | length > 0 %}
    <!-- BLOG -->
    <section class="py-24 ~px-4/8 bg-zinc-100 dark:bg-zinc-900">
      <div class="container m-auto flex flex-col gap-8 items-center">
        <!-- HEADING -->
        <div class="flex flex-col gap-1 items-center">
          <span class="font-proxima-nova text-primary font-bold leading-none">Blog</span>
          <h2 class="dark:text-white ~text-2xl/3xl text-center font-bold">
            Naše poslední novinky
          </h2>
        </div>

        <!-- BLOG POSTS -->
        <div class="grid grid-cols-1 xl:grid-cols-3 justify-center gap-8 w-full max-xl:max-w-4xl">
          {# Loop over the latest (reverse) 3 (limit(3)) blog posts #}
          {% for post in collections.post | reverse | limit(3) %}
            <!-- BLOG POST -->
            <article
              class="flex flex-col md:flex-row xl:flex-col gap-6 xl:max-w-md ~p-4/6 bg-white dark:bg-zinc-950 border-4 border-transparent rounded-xl
                transition-colors duration-300 hover:border-tertiary"
            >
              <!-- IMAGE + METADATA -->
              <div class="shrink-0 flex flex-col gap-2">
                <!-- IMAGE -->
                <a href="{{ post.url }}">
                  <picture>
                    <source media="(max-width: 600px)" srcset="{% getUrl post.data.image | resize({ width: 1056, height: 512 }) | webp({ quality: 70 }) %}" type="image/webp">
                    <source media="(min-width: 601px)" srcset="{% getUrl post.data.image | resize({ width: 784, height: 512 }) | webp({ quality: 70 }) %}" type="image/webp">
                    <img
                    class="h-64 w-full md:h-full md:w-80 xl:h-64 xl:w-full rounded-xl object-cover"
                    src="{% getUrl post.data.image | resize({ width: 784, height: 512 }) | jpeg({ quality: 70 }) %}"
                    alt="Fotka lektorky Ludmily Vyčítalové"
                    decoding="async"
                    loading="lazy"
                    width="392"
                    height="256"
                    draggable="false"/>
                  </picture>
                </a>

                <!-- METADATA -->
                <div class="flex justify-between items-center">
                  <!-- CATEGORY -->
                  <span class="py-1 px-2 bg-tertiary font-proxima-nova text-sm text-white font-bold rounded-lg">{{ post.data.category }}</span>
                  <!-- DATE -->
                  <div class="flex items-center gap-1.5">
                    <svg class="text-zinc-800 dark:text-zinc-200" xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewBox="0 -960 960 960" fill="currentColor">
                      <path d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Zm280 240q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm-160 0q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm320 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM480-240q-17 0-28.5-11.5T440-280q0-17 11.5-28.5T480-320q17 0 28.5 11.5T520-280q0 17-11.5 28.5T480-240Zm-160 0q-17 0-28.5-11.5T280-280q0-17 11.5-28.5T320-320q17 0 28.5 11.5T360-280q0 17-11.5 28.5T320-240Zm320 0q-17 0-28.5-11.5T600-280q0-17 11.5-28.5T640-320q17 0 28.5 11.5T680-280q0 17-11.5 28.5T640-240Z"/>
                    </svg>
                    <span class="mt-0.5 font-proxima-nova text-sm text-zinc-800 dark:text-zinc-200 leading-none">
                      {{ post.date | postDate }}
                    </span>
                  </div>
                </div>
              </div>

              <!-- TEXT + AUTHOR -->
              <div class="flex-1 flex flex-col gap-4 w-full">
                <!-- HEADING + TEXT -->
                <div class="flex flex-col gap-2">
                  <a
                    title="{{ post.data.title }}"
                    class="relative dark:text-white font-proxima-nova text-2xl xl:text-xl font-bold line-clamp-1 xl:truncate transition-colors duration-300 hover:text-tertiary
                      before:absolute before:top-0 before:right-0 before:h-full before:w-16 before:bg-gradient-to-r before:from-white/0 before:to-white/100 dark:before:to-zinc-950"
                    href="{{ post.url }}">
                    <h3>
                      {{ post.data.title }}
                    </h3>
                  </a>
                  <p class="font-proxima-nova text-zinc-800 dark:text-zinc-200 line-clamp-6 xl:line-clamp-3">
                    {{ post.data.description }}
                  </p>
                </div>

                <!-- SEPARATOR -->
                <div class="h-px w-full mt-auto bg-zinc-300 dark:bg-zinc-600"></div>

                <!-- AUTHOR + ICON -->
                <div class="flex justify-between items-center">
                  <!-- AUTHOR -->
                  <div class="flex items-center gap-3">
                    <!-- AUTHOR ICON -->
                    <div class="px-0.5 pt-1.5 bg-zinc-200 dark:bg-zinc-600 rounded-full overflow-hidden">
                      <svg class="fill-zinc-600 dark:fill-zinc-300" xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" viewBox="0 0 1200 1200">
                        <path d="M939.574 858.383c-157.341-57.318-207.64-105.702-207.64-209.298c0-62.17 51.555-102.462 69.128-155.744c17.575-53.283 27.741-116.367 36.191-162.256s11.809-63.638 16.404-112.532C859.276 157.532 818.426 0 600 0C381.639 0 340.659 157.532 346.404 218.553c4.596 48.894 7.972 66.645 16.404 112.532c8.433 45.888 18.5 108.969 36.063 162.256c17.562 53.286 69.19 93.574 69.19 155.744c0 103.596-50.298 151.979-207.638 209.298C102.511 915.83 0 972.479 0 1012.5V1200h1200v-187.5c0-39.957-102.574-96.606-260.426-154.117"/>
                      </svg>
                    </div>

                    <div class="flex flex-col gap-1">
                      <span class="font-proxima-nova text-sm text-zinc-800 leading-none dark:text-zinc-200">Autor</span>
                      <span class="font-proxima-nova text-sm font-bold leading-none dark:text-white">{{ post.data.author }}</span>
                    </div>
                  </div>

                  <!-- ICON -->
                  <a href="{{ post.url }}" class="group p-1.5 border-2 border-zinc-300 dark:border-zinc-600 rounded-full transition-colors duration-300 hover:border-tertiary">
                    <span class="sr-only">Pokračovat ve čtení</span>
                    <svg class="fill-zinc-300 dark:fill-zinc-600 transition-colors duration-300 group-hover:fill-tertiary" xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 -960 960 960" fill="currentColor">
                      <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/>
                    </svg>
                  </a>
                </div>
              </div>
            </article>
          {% endfor %}
        </div>
      </div>
    </section>
  {% endif %}

  <!-- ADDITIONAL SERVICES -->
  <section class="relative py-24 ~px-4/8 bg-[#6E1315] z-10 overflow-hidden">
    <div class="container m-auto flex max-xl:flex-col-reverse justify-center items-center ~gap-12/24">
      <!-- TEXT -->
      <div class="flex flex-col items-start gap-6">
        <!-- HEADING + TEXT -->
        <div class="flex flex-col gap-4 max-w-2xl">
          <!-- TOPPER + HEADING -->
          <div class="flex flex-col gap-1">
            <span class="font-proxima-nova text-secondary font-bold leading-none">Dodatkové služby</span>
            <h2 class="~text-2xl/3xl text-white font-bold">
              Doplňkové služby pro další rozvoj vaší španělštiny
            </h2>
          </div>
          <p class="font-proxima-nova text-zinc-200">
            Objevte doplňkové možnosti, jak zdokonalit svou španělštinu přesně podle vašich potřeb. Ať už hledáte rychlé řešení konkrétního problému,
            chcete si nezávazně vyzkoušet výuku, nebo potřebujete specializované materiály, připravila jsem pro vás služby, které vám pomohou na vaší
            cestě ke španělštině.
          </p>
          <p class="font-proxima-nova text-zinc-200">
            Každý student je jedinečný a někdy standardní formát výuky nemusí být tou nejlepší volbou. Proto nabízím flexibilní doplňkové služby,
            které můžete využít samostatně nebo je kombinovat s běžnými kurzy. Od krátkodobých minikurzů přes individuální konzultace až po specializované
            výukové materiály - vše je navrženo tak, aby vám pomohlo překonat konkrétní výzvy při studiu španělštiny.
          </p>
        </div>

        <!-- CTA BUTTON -->
        <a class="block relative px-4 py-2 bg-secondary text-sm text-black font-semibold rounded-lg z-10 overflow-hidden whitespace-nowrap
          transition-colors duration-300 hover:text-white
          before:absolute before:top-0 before:left-0 before:h-full before:w-full before:bg-tertiary before:-z-10
          before:scale-x-0 before:origin-left before:transition-transform before:duration-300 hover:before:scale-x-100"
          href="/kontakt">
          Kontaktujte nás
        </a>
      </div>

      <ul class="flex flex-col gap-4">
        <li class="flex items-center gap-6 max-w-2xl xl:max-w-[38rem] p-5 bg-white dark:bg-zinc-950 rounded-xl">
          <!-- ICON -->
          <img
            src="/assets/svgs/additional-services/SPSL_icon-mini.svg"
            alt="Ikona minikurzu"
            decoding="async"
            loading="lazy"
            width="72"
            height="72"
            draggable="false"/>

          <div class="flex flex-col gap-1">
            <h3 class="dark:text-white text-lg font-bold">Minikurzy</h3>
            <p class="font-proxima-nova text-zinc-800 dark:text-zinc-200">
              Během tří večerů se intenzivně ponoříte do praktické španělštiny a&nbsp;objevíte, jak rychle a efektivně se můžete naučit komunikovat.
            </p>
          </div>
        </li>

        <li class="flex items-center gap-6 max-w-2xl xl:max-w-[38rem] p-5 bg-white dark:bg-zinc-950 rounded-xl">
          <!-- ICON -->
          <img
            src="/assets/svgs/additional-services/SPSL_icon-vip-calls.svg"
            alt="Ikona minikurzu"
            decoding="async"
            loading="lazy"
            width="72"
            height="72"
            draggable="false"/>

          <div class="flex flex-col gap-1">
            <h3 class="dark:text-white text-lg font-bold">VIP telefonáty</h3>
            <p class="font-proxima-nova text-zinc-800 dark:text-zinc-200">
              V krátkých, cílených hovorech společně identifikujeme vaše potíže a připravíme pro vás personalizované materiály k jejich překonání.
            </p>
          </div>
        </li>

        <li class="flex items-center gap-6 max-w-2xl xl:max-w-[38rem] p-5 bg-white dark:bg-zinc-950 rounded-xl">
          <!-- ICON -->
          <img
            src="/assets/svgs/additional-services/SPSL_icon-ebook.svg"
            alt="Ikona e-booku"
            decoding="async"
            loading="lazy"
            width="72"
            height="72"
            draggable="false"/>

          <div class="flex flex-col gap-1">
            <h3 class="dark:text-white text-lg font-bold">E-book - minulé časy</h3>
            <p class="font-proxima-nova text-zinc-800 dark:text-zinc-200">
              Náš specializovaný e-book vám přehledně a srozumitelně vysvětlí všechny minulé časy, jejich použití a rozdíly mezi nimi.
            </p>
          </div>
        </li>
      </ul>
    </div>

    <!-- BACKGROUND IMAGE -->
    <img
      class="absolute top-0 right-0 -translate-y-1/3 translate-x-1/3 size-[48rem] opacity-50 -z-10"
      src="/assets/svgs/additional-services/background-logo.svg"
      alt="Červené slunce z loga"
      decoding="async"
      loading="lazy"
      width="480"
      height="734"
      draggable="false"/>
  </section>

  <!-- SERVICE HIGHLIGHT -->
  <section class="py-24 ~px-4/8 dark:bg-zinc-950">
    <div class="container m-auto flex max-xl:flex-col justify-center items-center ~gap-12/24">
      <!-- IMAGES -->
      <div class="basis-1/2 flex justify-center items-start ~gap-4/8">
        <picture>
          <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-highlight/service_hightlight_1.jpg" | resize({ width: 552, height: 960 }) | webp({ quality: 70 }) %}" type="image/webp">
          <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/service-highlight/service_hightlight_1.jpg" | resize({ width: 688, height: 960 }) | webp({ quality: 70 }) %}" type="image/webp">
          <img
                class="basis-1/2 h-[30rem] w-full mt-24 object-cover object-bottom rounded-xl"
                src="{% getUrl "/assets/images/service-highlight/service_hightlight_1.jpg" | resize({ width: 688, height: 960 }) | jpeg({ quality: 70 }) %}"
                alt="Fotografie španělské budovy"
                decoding="async"
                loading="lazy"
                width="344"
                height="480"
                draggable="false"/>
        </picture>

        <picture>
          <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/service-highlight/service_hightlight_2.jpg" | resize({ width: 552, height: 960 }) | webp({ quality: 70 }) %}" type="image/webp">
          <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/service-highlight/service_hightlight_2.jpg" | resize({ width: 688, height: 960 }) | webp({ quality: 70 }) %}" type="image/webp">
          <img
                class="basis-1/2 h-[30rem] w-full object-cover rounded-xl"
                src="{% getUrl "/assets/images/service-highlight/service_hightlight_2.jpg" | resize({ width: 688, height: 960 }) | jpeg({ quality: 70 }) %}"
                alt="Fotografie španělské budovy"
                decoding="async"
                loading="lazy"
                width="344"
                height="480"
                draggable="false"/>
        </picture>
      </div>

      <!-- TEXT -->
      <div class="basis-1/2 flex flex-col items-start gap-6">
        <!-- HEADING + TEXT -->
        <div class="flex flex-col gap-4 max-w-2xl">
          <!-- TOPPER + HEADING -->
          <div class="flex flex-col gap-1">
            <span class="font-proxima-nova text-primary dark:text-secondary font-bold leading-none">Pobytové kurzy</span>
            <h2 class="dark:text-white ~text-2xl/3xl font-bold">
              Zažijte autentické Španělsko na&nbsp;unikátních pobytových kurzech s&nbsp;výukou i&nbsp;zážitky
            </h2>
          </div>
          <p class="font-proxima-nova text-zinc-800 dark:text-zinc-200">
            Objevte nejefektivnější způsob, jak se naučit španělsky - přímo v srdci Španělska! Naše exkluzivní pobytové kurzy kombinují intenzivní
            dopolední výuku s odpoledním programem plným kultury, památek a gastronomických zážitků.
            Zatímco se budete učit španělštinu od zkušené lektorky, zároveň ji budete okamžitě používat v reálných situacích.
            Prožijte nezapomenutelný vzdělávací pobyt, který vám otevře dveře do světa španělského jazyka i kultury.
          </p>
        </div>

        <!-- CTA BUTTON -->
        <a class="block relative px-4 py-2 bg-primary text-sm text-white font-semibold rounded-lg z-10 overflow-hidden whitespace-nowrap
          before:absolute before:top-0 before:left-0 before:h-full before:w-full before:bg-tertiary before:-z-10
          before:scale-x-0 before:origin-left before:transition-transform before:duration-300 hover:before:scale-x-100"
          href="/pobytove-kurzy">
          Dozvědet se více
        </a>
      </div>
    </div>
  </section>

  <!-- GALLERY -->
  <section class="py-24 ~px-4/8 bg-zinc-100 dark:bg-zinc-900">
    <div class="container m-auto flex flex-col items-center gap-8">
      <!-- TOPPER + HEADING -->
      <div class="flex flex-col gap-2">
        <span class="font-proxima-nova text-center text-primary dark:text-secondary font-bold leading-none">Galerie</span>
        <h2 class="dark:text-white text-center ~text-2xl/3xl font-bold">
          Prohlédněte si fotografie z našich pobytů
        </h2>
      </div>

      <!-- GALLERY -->
      <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 ~gap-4/8 w-full">
        {% for i in range(0, 8) %}
          {% set imagePath = '/assets/images/gallery/gallery_' + loop.index + '.jpg' %}
          <picture>
            <source media="(max-width: 600px)" srcset="{% getUrl imagePath | resize({ width: 1136, height: 640 }) | webp({ quality: 70 }) %}" type="image/webp">
            <source media="(min-width: 601px)" srcset="{% getUrl imagePath | resize({ width: 720, height: 640 }) | webp({ quality: 70 }) %}" type="image/webp">
            <img
                class="h-80 w-full object-cover rounded-xl"
                src="{% getUrl imagePath | resize({ width: 720, height: 640 }) | jpeg({ quality: 70 }) %}"
                alt="Fotografie z galerie {{ loop.index }}"
                decoding="async"
                loading="lazy"
                width="360"
                height="320"
                draggable="false"/>
          </picture>
        {% endfor %}
      </div>

      <!-- CTA BUTTON -->
      <a class="block relative px-4 py-2 bg-primary text-sm text-white font-semibold rounded-lg z-10 overflow-hidden whitespace-nowrap
          before:absolute before:top-0 before:left-0 before:h-full before:w-full before:bg-tertiary before:-z-10
          before:scale-x-0 before:origin-left before:transition-transform before:duration-300 hover:before:scale-x-100"
          href="/galerie">
          Zobrazit vše
        </a>
    </div>
  </section>

  {% include "components/faq.njk" %}
  {% include "components/reviews.njk" %}
  {% include "components/cta.njk" %}
{% endblock body %}