---
title: 'Kvalitní výuka španělštiny a krásné zážitky'
description: 'Objevte efektivní kurzy španělštiny, videokurzy a pobytové kurzy, které vám pomohou se rozmluvit. Učte se přirozeně, prakticky a s radostí!'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Domů
  order: 100
---

{% extends "layouts/base.njk" %}

{% block head %}
  <!-- Preload the hero images -->
  <link rel="preload" as="image" href="{% getUrl '/assets/images/hero/laptop_with_coffee.jpg' | resize({ width: 454, height: 576, position: 'left' }) | webp({ quality: 70 }) %}"/>
  <link rel="preload" as="image" href="{% getUrl '/assets/images/hero/segrada-familia.jpg' | resize({ width: 480, height: 454 }) | webp({ quality: 70 }) %}"/>
  <link rel="preload" as="image" href="{% getUrl '/assets/images/hero/person-writing-notebook.jpg' | resize({ width: 500, height: 384 }) | webp({ quality: 70 }) %}"/>
  <link rel="preload" as="image" href="{% getUrl '/assets/images/hero/descubre-workbook.png' | resize({ width: 408, height: 624 }) | webp({ quality: 70 }) %}"/>

  <!-- Script for Netlify Identity -->
  <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <!-- Netlify Identity configuration -->
  <script defer src="/assets/js/identity.js"></script>

  <!-- JSON Schema Markup -->
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "LocalBusiness",
      "name": "{{ client.name }}",
      {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
      {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
      {% if client.email %}"email": "{{ client.email }}",{% endif %}
      {% if client.address %}
        "address": {
          "@type": "PostalAddress"{% if client.address.lineOne %},
            "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
          {% endif %}
          {% if client.address.city %},
            "addressLocality": "{{ client.address.city }}"
          {% endif %}
          {% if client.address.state %},
            "addressRegion": "{{ client.address.state }}"
          {% endif %}
          {% if client.address.zip %},
            "postalCode": "{{ client.address.zip }}"
          {% endif %}
          {% if client.address.country %},
            "addressCountry": "{{ client.address.country }}"
          {% endif %}
        },
      {% endif %}
      {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}"{% if client.socials %},{% endif %}{% endif %}
      {% if client.socials %}
        "sameAs": [{% for platform, url in client.socials %}
            {% if not loop.first %},{% endif %}
            "{{ url }}"
          {% endfor %}]
      {% endif %}
    }
  </script>
{% endblock %}

{% block body %}
  <!-- HERO -->
  <section class="bg-white h-screen relative pt-24 ~px-4/8 overflow-hidden flex items-center justify-center">
    <div class="z-[2] container m-auto flex max-2xl:flex-col justify-center items-center ~gap-12/24">
      <!-- HEADING + CTA -->
      <div class="flex flex-col items-center justify-center 2xl:items-start gap-8 sm:gap-12">
        <!-- HEADING + TEXT -->
        <div class="flex flex-col gap-4 max-w-6xl">
          <!-- TOPPER + HEADING -->
          <h1 class="~text-5xl/7xl text-center font-bold text-white">
            ZÁKLADNÍ ŠKOLA RADOST
          </h1>
          <p class="~text-2xl/4xl text-zinc-200 text-center">
            ...&nbsp;pro radost z dětí, pro radost z poznávání, pro radost ze života&nbsp;...
          </p>
        </div>

        <!-- CTA BUTTON -->
        <a href="/about" class="group mx-auto relative w-fit inline-flex items-center px-16 sm:px-20 py-2 sm:py-4 rounded-full font-bold text-primary bg-white overflow-hidden transition-colors duration-300">
          <span class="pointer-events-none absolute -left-10 inset-0 -skew-x-[10deg] scale-x-0 origin-left bg-primary transition-transform duration-500 ease-out group-hover:scale-x-[1.2]"></span>

          <div class="relative z-10 flex items-center">
            <span class="text-2xl transition-colors duration-300 group-hover:text-white">
             Naše vize
            </span>
          </div>
        </a>
      </div>
    </div>

    <!-- BACKGROUND -->
    <picture class="before:absolute before:top-0 before:left-0 before:h-full before:w-full before:z-[1] before:bg-black/50">
      <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hero/hero_background_image.jpg" | resize({ width: 1920, height: 800 }) | webp({ quality: 70 }) %}" type="image/webp">
      <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/hero/hero_background_image.jpg" | resize({ width: 1920, height: 800 }) | webp({ quality: 70 }) %}" type="image/webp">
      <img
          class="absolute inset-0 h-full w-full object-cover z-0"
          src="{% getUrl "/assets/images/hero/hero_background_image.jpg" | resize({ width: 1920, height: 800 }) | jpeg({ quality: 70 }) %}"
          alt="Tmavé pozadí"
          decoding="async"
          loading="eager"
          width="1920"
          height="800"
          draggable="false"/>
    </picture>

    <div class="absolute inset-0 linear-gradient z-0 opacity-80"></div>
  </section>

  
  <!-- ABOUT SCHOOL -->
  <section class="py-16 ~px-4/8">
    <div class="container bg-purple/15 m-auto ~p-6/10 rounded-3xl grid grid-cols-1 lg:grid-cols-2 items-center gap-10 xl:gap-16">
      <div class="order-2 lg:order-1 flex flex-col justify-center">
        <div class="px-6 py-1 bg-purple mb-2 rounded-full w-fit text-white font-bold">Kdo jsme?</div>
        <h2 class="mb-8 text-purple ~text-5xl/6xl font-bold">Naše škola</h2>

        <div class="mb-8 flex flex-col gap-3 text-zinc-900 text-lg md:text-xl">
          <p>Řadíme se mezi malé plnohodnotné soukromé základní školy postavené na principu sebeřízeného vzdělávání. </p>
          <p>Jsme na cestě k vytvoření svobodné školy - chceme, aby děti vzdělávané v naší škole byly motivované touhou po vědění, namísto odměny za splnění přiděleného zadání. Chcete toto pro své dítě také? Pak jste tady správně.</p>
        </div>

        <a href="/o-nas" class="group relative w-fit inline-flex items-center px-8 py-2 md:px-12 md:py-4 rounded-full font-bold text-white bg-purple overflow-hidden transition-colors duration-300">
          <span class="pointer-events-none absolute -left-10 inset-0 -skew-x-[10deg] scale-x-0 origin-left bg-white transition-transform duration-500 ease-out group-hover:scale-x-[1.2]"></span>

          <div class="relative z-10 flex items-center">
            <span class="text-xl md:text-2xl pr-2 transition-colors duration-300 group-hover:text-purple">
              Zjisti více
            </span>

            <svg class="fill-white transition-all duration-300 group-hover:translate-x-1 group-hover:fill-purple"
                xmlns="http://www.w3.org/2000/svg" height="24" width="24"
                viewBox="0 -960 960 960" fill="currentColor">
              <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/>
            </svg>
          </div>
        </a>
      </div>

      <!-- IMAGE -->
      <picture class="order-1 lg:order-2">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/about-us/school-photo-landing.webp" | resize({ width: 1136, height: 746 }) | webp({ quality: 70 }) %}" type="image/webp">
        <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/about-us/school-photo-landing.webp" | resize({ width: 1536, height: 1008 }) | webp({ quality: 70 }) %}" type="image/webp">
        <img
            class="w-full max-w-3xl rounded-xl object-cover"
            src="{% getUrl "/assets/images/about-us/school-photo-landing.webp" | resize({ width: 1536, height: 1008 }) | jpeg({ quality: 70 }) %}"
            alt="Fotka lektorky Ludmily Vyčítalové"
            decoding="async"
            loading="lazy"
            width="1536"
            height="504"
            draggable="false"/>
      </picture>
    </div>
  </section>


  <!-- ABOUT VISION -->
  <section class="pb-16 ~px-4/8">
    <div class="container bg-blue/15 m-auto ~p-6/10 rounded-3xl grid grid-cols-1 lg:grid-cols-2 items-center  gap-10 xl:gap-16">
      <!-- IMAGE -->
      <picture>
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/about-us/vision-photo-landing.webp" | resize({ width: 1136, height: 746 }) | webp({ quality: 70 }) %}" type="image/webp">
        <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/about-us/vision-photo-landing.webp" | resize({ width: 1536, height: 1008 }) | webp({ quality: 70 }) %}" type="image/webp">
        <img
            class="w-full max-w-3xl rounded-xl object-cover"
            src="{% getUrl "/assets/images/about-us/vision-photo-landing.webp" | resize({ width: 1536, height: 1008 }) | jpeg({ quality: 70 }) %}"
            alt="Fotka lektorky Ludmily Vyčítalové"
            decoding="async"
            loading="lazy"
            width="1536"
            height="504"
            draggable="false"/>
      </picture>

      <div class="flex flex-col justify-center">
        <div class="px-6 py-1 bg-blue mb-2 rounded-full w-fit text-white font-bold">Proč jinak?</div>
        <h2 class="mb-8 text-blue ~text-5xl/6xl font-bold">Naše vize</h2>

        <div class="mb-8 flex flex-col gap-3 text-zinc-900 text-lg md:text-xl">
          <p>Svobodná demokratická škola je postavena na principu sebeřízeného vzdělávání, které podporuje vnitřní motivaci dětí k učení, na rozdíl od tradičního vzdělávání. Děti jsou přirozeně zvídavé a učí se na základě vlastní potřeby, což umožňuje individuální přístup a zodpovědnost za jejich vlastní vzdělávání. Pedagogové v tomto procesu fungují jako průvodci a kouči, podporující dobrovolné učení ve věkově smíšených kolektivech. </p>
        </div>

        <a href="/about" class="group relative w-fit inline-flex items-center px-8 py-2 md:px-12 md:py-4 rounded-full font-bold text-white bg-blue overflow-hidden transition-colors duration-300">
          <span class="pointer-events-none absolute -left-10 inset-0 -skew-x-[10deg] scale-x-0 origin-left bg-white transition-transform duration-500 ease-out group-hover:scale-x-[1.2]"></span>

          <div class="relative z-10 flex items-center">
            <span class="text-xl md:text-2xl pr-2 transition-colors duration-300 group-hover:text-blue">
            Zjisti více
            </span>

              <svg class="fill-white transition-all duration-300 group-hover:translate-x-1 group-hover:fill-blue"
                  xmlns="http://www.w3.org/2000/svg" height="24" width="24"
                  viewBox="0 -960 960 960" fill="currentColor">
                <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/>
              </svg>
          </div>
        </a>
      </div>
    </div>
  </section>


  {% if collections.post | length > 0 %}
    <!-- BLOG -->
    <section class="pb-16 ~px-4/8">
      <div class="container ~p-6/10 bg-primary/20 rounded-3xl m-auto flex flex-col gap-8 items-center">
        <div class="w-full flex justify-between items-end">
          <!-- HEADING -->
          <div>
            <div class="px-6 py-1 bg-primary mb-2 rounded-full w-fit text-white font-bold">Příběhy & Aktuality</div>
            <h2 class="text-primary ~text-5xl/6xl font-bold">
              Náš svět příběhů a aktualit
            </h2>
          </div>


          <!-- MORE BTN -->
          <a href="/blog" class="group relative w-fit hidden lg:inline-flex items-center px-8 py-2 rounded-full font-bold text-primary bg-white overflow-hidden transition-colors duration-300">
            <span class="pointer-events-none absolute -left-10 inset-0 -skew-x-[10deg] scale-x-0 origin-left bg-primary transition-transform duration-500 ease-out group-hover:scale-x-[1.2]"></span>

            <div class="relative z-10 flex items-center">
              <span class="text-xl md:text-2xl pr-2 transition-colors duration-300 group-hover:text-white">
                Více příspěvků
              </span>

                <svg class="fill-primary transition-all duration-300 group-hover:translate-x-1 group-hover:fill-white"
                    xmlns="http://www.w3.org/2000/svg" height="24" width="24"
                    viewBox="0 -960 960 960" fill="currentColor">
                  <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/>
                </svg>
            </div>
          </a>
        </div>

        <!-- BLOG POSTS -->
        <div class="grid grid-cols-1 xl:grid-cols-3 justify-center gap-8 w-full max-xl:max-w-4xl">
          {# Loop over the latest (reverse) 3 (limit(3)) blog posts #}
          {% for post in collections.post | reverse | limit(3) %}
            <!-- BLOG POST -->
            <article
              class="flex flex-col md:flex-row xl:flex-col gap-2 xl:max-w-md p-4 bg-white border-4 border-transparent rounded-xl
transition-all duration-300 hover:shadow-xl hover:-translate-y-1"
            >
              <!-- IMAGE + METADATA -->
              <div class="shrink-0 flex flex-col gap-2">
                <!-- IMAGE -->
                <a href="{{ post.url }}">
                  <picture>
                    <source media="(max-width: 600px)" srcset="{% getUrl post.data.image | resize({ width: 1056, height: 512 }) | webp({ quality: 70 }) %}" type="image/webp">
                    <source media="(min-width: 601px)" srcset="{% getUrl post.data.image | resize({ width: 784, height: 512 }) | webp({ quality: 70 }) %}" type="image/webp">
                    <img
                    class="h-64 w-full md:h-full md:w-80 xl:h-64 xl:w-full rounded-xl object-cover"
                    src="{% getUrl post.data.image | resize({ width: 784, height: 512 }) | jpeg({ quality: 70 }) %}"
                    alt="Fotka lektorky Ludmily Vyčítalové"
                    decoding="async"
                    loading="lazy"
                    width="392"
                    height="256"
                    draggable="false"/>
                  </picture>
                </a>

                <!-- DATE -->
                <div class="flex items-center gap-1.5">
                  <svg class="text-zinc-800" xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewBox="0 -960 960 960" fill="currentColor">
                    <path d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Zm280 240q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm-160 0q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm320 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM480-240q-17 0-28.5-11.5T440-280q0-17 11.5-28.5T480-320q17 0 28.5 11.5T520-280q0 17-11.5 28.5T480-240Zm-160 0q-17 0-28.5-11.5T280-280q0-17 11.5-28.5T320-320q17 0 28.5 11.5T360-280q0 17-11.5 28.5T320-240Zm320 0q-17 0-28.5-11.5T600-280q0-17 11.5-28.5T640-320q17 0 28.5 11.5T680-280q0 17-11.5 28.5T640-240Z"/>
                  </svg>
                  <span class="mt-0.5 text-sm text-zinc-800 leading-none">
                    {{ post.date | postDate }}
                  </span>
                </div>
              </div>

              <!-- TEXT + AUTHOR -->
              <div class="flex-1 flex flex-col justify-between gap-4 w-full">
                <!-- HEADING + TEXT -->
                <div class="flex flex-col gap-2">
                  <a
                    title="{{ post.data.title }}"
                    class="relative text-2xl xl:text-xl font-bold transition-colors duration-300 hover:text-primary"
                    href="{{ post.url }}"
                  >
                    <h3 class="line-clamp-2">
                      {{ post.data.title }}
                    </h3>
                  </a>
                  <p class="text-zinc-800 line-clamp-6 xl:line-clamp-4">
                    {{ post.data.description }}
                  </p>
                </div>

                <!-- MORE BTN -->
                <a href="{{ post.url }}" class="group flex w-fit items-center px-2 py-1.5 border-2 border-zinc-300 rounded-full transition-colors duration-300 hover:border-primary">
                  <span class="group-hover:text-primary pr-1 group-hover:pr-3 transition-all duration-300">Více informací</span>
                  <svg class="fill-zinc-300 transition-colors duration-300 group-hover:fill-primary" xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 -960 960 960" fill="currentColor">
                    <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/>
                  </svg>
                </a>
              </div>
            </article>
          {% endfor %}
        </div>

        <!-- MORE BTN -->
        <a href="/blog" class="inline-flex lg:hidden group relative w-fit items-center px-8 py-2 rounded-full font-bold text-primary bg-white overflow-hidden transition-colors duration-300">
          <span class="pointer-events-none absolute -left-10 inset-0 -skew-x-[10deg] scale-x-0 origin-left bg-primary transition-transform duration-500 ease-out group-hover:scale-x-[1.2]"></span>

          <div class="relative z-10 flex items-center">
            <span class="text-xl md:text-2xl transition-colors duration-300 group-hover:text-white">
              Více příspěvků
            </span>
          </div>
        </a>
      </div>
    </section>
  {% endif %}

  <!-- TEAM -->
  <section class="pb-16 ~px-4/8">
    <div class="container bg-green/15 m-auto ~p-6/10 rounded-3xl grid grid-cols-1 lg:grid-cols-2 items-center gap-10 xl:gap-16">
      <!-- IMAGE -->
      <picture>
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/about-us/team-photo.webp" | resize({ width: 1136, height: 746 }) | webp({ quality: 70 }) %}" type="image/webp">
        <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/about-us/team-photo.webp" | resize({ width: 1536, height: 1008 }) | webp({ quality: 70 }) %}" type="image/webp">
        <img
            class="w-full max-w-3xl rounded-xl object-cover"
            src="{% getUrl "/assets/images/about-us/team-photo.webp" | resize({ width: 1536, height: 1008 }) | jpeg({ quality: 70 }) %}"
            alt="Fotka lektorky Ludmily Vyčítalové"
            decoding="async"
            loading="lazy"
            width="1536"
            height="504"
            draggable="false"/>
      </picture>

      <div class="flex flex-col justify-center">
        <div class="px-6 py-1 bg-green mb-2 rounded-full w-fit text-white font-bold">Kdo tvoří tým?</div>
        <h2 class="mb-8 text-green ~text-5xl/6xl font-bold">RADOSTný tým</h2>

        <div class="mb-8 flex flex-col gap-3 text-zinc-900 text-lg md:text-xl">
          <p>Náš tým tvoří zkušené a nadšené profesionálky a profesionálové. Společně vytváříme inspirativní a bezpečné prostředí, kde se každý žák může cítit podporován a motivován k objevování nových znalostí a dovedností.</p>
          <p>Každý člen našeho týmu přináší unikátní odborné znalosti a osobní přístup, díky kterému dokážeme efektivně reagovat na potřeby žáků i rodičů. </p>
        </div>

        <a href="/about" class="group relative w-fit inline-flex items-center px-8 py-2 md:px-12 md:py-4 rounded-full font-bold text-white bg-green overflow-hidden transition-colors duration-300">
          <span class="pointer-events-none absolute -left-10 inset-0 -skew-x-[10deg] scale-x-0 origin-left bg-white transition-transform duration-500 ease-out group-hover:scale-x-[1.2]"></span>

          <div class="relative z-10 flex items-center">
            <span class="text-xl md:text-2xl pr-2 transition-colors duration-300 group-hover:text-green">
              Poznej náš tým
            </span>

              <svg class="fill-white transition-all duration-300 group-hover:translate-x-1 group-hover:fill-green"
                  xmlns="http://www.w3.org/2000/svg" height="24" width="24"
                  viewBox="0 -960 960 960" fill="currentColor">
                <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/>
              </svg>
          </div>
        </a>
      </div>
    </div>
  </section>

  {% include "components/cta.njk" %}
  {% include "components/partners.njk" %}
{% endblock body %}